@using VocaDb.Web.Helpers;
@model VocaDb.Model.DataContracts.Users.UserWithActivityEntriesContract

@{
	ViewBag.Title = "Entry edits - " + Model.Name;
	ViewBag.Parents = new[] { 
		Html.ActionLink("Users", "Index"), 
		Html.ActionLink(Model.Name, "Details", new { id = Model.Id }) 		
	};

}

<div id="entryEdits">
	@{ Html.RenderPartial("Partials/_EntryEditsPage", Model); }
</div>

<hr />
<h3><a href="#" id="loadMoreLink">View more</a></h3>
@Html.Hidden("start", 100)

@section BodyScripts {
	<script type="text/javascript">

	$(document).ready(function () {

		$("#loadMoreLink").click(function () {

			var id = @Model.Id;
			var params = { id: id, start: $("#start").val() };
			var url = vdb.functions.mapAbsoluteUrl("User/EntryEditsPage");

			$.post(url, params, function (result) {
				$("#entryEdits").append(result);
				$("#start").val(parseInt($("#start").val()) + 100);
			});
			return false;
		});
	});

	</script>
}