@using VocaDb.Web.Helpers;
@using VocaDb.Web.Models.Shared.Partials.Artist;
@model VocaDb.Model.DataContracts.Users.ArtistForUserContract

<tr>
	<td>
		@using (Html.BeginCollectionItem("OwnedArtists")) {
			@Html.HiddenFor(m => m.Id)
			@Html.HiddenFor(m => m.Artist.Id)
			@Html.HiddenFor(m => m.Artist.Name)
			Html.RenderPartial("Partials/Artist/_ArtistLink", new ArtistLinkViewModel(Model.Artist));
		}
	</td>
	<td>
		<a href="#" class="artistRemove textLink deleteLink">@ViewRes.SharedStrings.Delete</a>
	</td>
</tr>