@model VocaDb.Model.DataContracts.Users.ServerOnlyUserContract

@{
    PageProperties.Title = "Stats for " + Model.Name;
}

<div id="chartContainer"></div>

@section BodyScripts {

	<script type="text/javascript">
		var model = {
			id: @Model.Id,
		};
		var type = '@ViewBag.StatType';
		app.UserStats(model, type);
	</script>

}


