.discussion-folders,
.discussion-topics {
  cursor: pointer;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid lightgray;
}
.discussion-folders a,
.discussion-topics a {
  color: black;
}
.discussion-folders a:hover,
.discussion-topics a:hover {
  text-decoration: none;
}
.discussion-folders tr,
.discussion-topics tr {
  padding: 8px;
}
.discussion-folders tr:hover,
.discussion-topics tr:hover {
  background-color: #d9edf7;
}
.discussion-folders tr.active,
.discussion-topics tr.active {
  background-color: #d9edf7;
}
.discussion-folders .discussion-folder-description,
.discussion-topics .discussion-folder-description {
  display: block;
  color: gray;
  font-size: 0.9em;
}
.create-topic {
  margin-bottom: 1em;
}
.discussion-folder-name {
  display: block;
}
.discussion-topic-edit-content .edit-text {
  width: 40%;
  margin-right: 20px;
}
.discussion-topic-edit-content .edit-text textarea {
  width: 100%;
}
.discussion-topic-edit-content .edit-text,
.discussion-topic-edit-content .edit-preview {
  vertical-align: top;
  display: inline-block;
  min-width: 400px;
}
.discussion-folder .folder-list {
  margin-bottom: 0.8em;
}
.discussion-folder .folder-description {
  margin-top: 0.8em;
  margin-bottom: 1em;
}
