<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="vocaDb">
      <section name="affiliates" type="VocaDb.Model.Utils.Config.AffiliatesSection, VocaDb.Model" />
      <section name="siteSettings" type="VocaDb.Model.Utils.Config.SiteSettingsSection, VocaDb.Model" />
      <section name="specialTags" type="VocaDb.Model.Utils.Config.SpecialTagsSection, VocaDb.Model" />
	  <!--<section name="slogans" type="VocaDb.Model.Utils.Config.SlogansSectionHandler, VocaDb.Model" />-->
		<sectionGroup name="globalLinks">
			<section name="appLinks" type="VocaDb.Model.Utils.Config.LinksSectionHandler, VocaDb.Model">
			</section>
			<section name="socialSites" type="VocaDb.Model.Utils.Config.LinksSectionHandler, VocaDb.Model">
			</section>
			<section name="bigBanners" type="VocaDb.Model.Utils.Config.LinksSectionHandler, VocaDb.Model">
			</section>
			<section name="smallBanners" type="VocaDb.Model.Utils.Config.LinksSectionHandler, VocaDb.Model">
			</section>
		</sectionGroup>
	</sectionGroup>
	<section name="syscache2" type="NHibernate.Caches.SysCache2.SysCacheSection" />
  </configSections>
  <appSettings file="appsettings.config">
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="PreserveLoginUrl" value="true" />
	<!-- Needed to disable RoleManager. See http://stackoverflow.com/a/15989036 and http://stackoverflow.com/a/871213 -->
	<add key="enableSimpleMembership" value="false" />
	<!-- https://blogs.msdn.microsoft.com/webdev/2012/11/19/all-about-httpruntime-targetframework/ -->
	<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings configSource="connections.config" />
  <vocaDb>
    <affiliates amazonComAffiliateId="vocvocdat-20" amazonJpAffiliateId="" playAsiaAffiliateId="852809" />
    <siteSettings twitterAccountName="vocadb" patreonLink="https://www.patreon.com/vocadb" sitewideAnnouncement="" stylesheets="TetoDB.css,DarkAngel.css" />
    <specialTags changedLyrics="2866" free="160" shortVersion="4717" />
	  <globalLinks>
		  <appLinks>
			  <link bannerImg="en_app_rgb_wo_45.png" title="Google Play Store" url="https://play.google.com/store/apps/details?id=com.coolappz.Vocadb"></link>
			  <link bannerImg="appstore.png" title="App Store" url="https://itunes.apple.com/us/app/vocadb/id907510673"></link>
		  </appLinks>
		  <socialSites>
			  <link bannerImg="facebook.png" title="Facebook" url="https://www.facebook.com/vocadb"></link>
			  <link bannerImg="Twitter_Logo.png" title="Twitter" url="https://twitter.com/VocaDB"></link>
			  <link bannerImg="irc.png" title="IRC" url="https://vocadb.net/Home/Chat"></link>
			  <link bannerImg="vk.png" title="VK" url="https://vk.com/vocadb"></link>
		  </socialSites>
		  <bigBanners>
		  </bigBanners>
		  <smallBanners>
			  <link bannerImg="utaitedb_small.png" title="UtaiteDB" url="https://utaitedb.net"></link>
			  <link bannerImg="touhoudb_small.png" title="TouhouDB" url="https://touhoudb.com"></link>
			  <link bannerImg="mikufan_small.png" title="Mikufan.com" url="http://www.mikufan.com"></link>
			  <link bannerImg="pjd-wiki_small.png" title="Project Diva Wiki" url="http://projectdiva.wiki/"></link>
			  <link bannerImg="rvocaloid_small2.png" title="r/vocaloid" url="https://www.reddit.com/r/vocaloid"></link>
			  <link bannerImg="vocallective_small.jpg" title="Vocallective" url="http://www.vocallective.net"></link>
			  <link bannerImg="vnn.png" title="Vocaloid News Network" url="https://www.vocaloidnews.net/"></link>
			  <link bannerImg="vocaeuro.jpg" title="VocaEuro" url="https://vocaeuro.wordpress.com/"></link>
			  <link bannerImg="vocaverse_small.png" title="VocaVerse Network" url="https://vocaverse.network/"></link>
			  <link bannerImg="mikupa_ru.jpg" title="Mikupa.ru" url="https://mikupa.ru/"></link>
			  <link bannerImg="vocalonexus.jpg" title="Vocalonexus" url="https://vocalnexus.de/"></link>
		  </smallBanners>
	  </globalLinks>
	<!--<slogans>
	</slogans>-->
  </vocaDb>
</configuration>
