<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    
    <target xsi:type="File" name="file" encoding="UTF-8" fileName="C:\Logs\VocaDB\${shortdate}.log"
            layout="${longdate} [${threadname}] ${uppercase:${level}} ${message} ${onexception:inner=- ${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
	
	</targets>

  <rules>
    <!-- add your logging rules here -->

		<logger name="NHibernate.*" minlevel="Warn" writeTo="file" />
		<logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>