<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="vocaDb">
			<section name="affiliates" type="VocaDb.Model.Utils.Config.AffiliatesSection, VocaDb.Model"></section>
			<section name="siteSettings" type="VocaDb.Model.Utils.Config.SiteSettingsSection, VocaDb.Model"></section>
		</sectionGroup>
	</configSections>

	<appSettings file="appsettings.config">
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="PreserveLoginUrl" value="true" />
		<!-- Needed to disable RoleManager. See http://stackoverflow.com/a/15989036 and http://stackoverflow.com/a/871213 -->
		<add key="enableSimpleMembership" value="false" />
	</appSettings>

	<connectionStrings configSource="connections.config"></connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.5" batch="false">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=5.1.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>

		<authentication mode="Forms">
			<forms defaultUrl="/" loginUrl="~/User/Login" timeout="2880" name=".ASPXFORMSAUTH" protection="All" path="/" />
		</authentication>

		<machineKey configSource="machinekey.config" />

		<pages controlRenderingCompatibilityVersion="4.0">
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>

		<globalization enableClientBasedCulture="true" uiCulture="auto" culture="auto" />

		<customErrors mode="Off" defaultRedirect="~/Error">
			<error statusCode="403" redirect="~/Error/Forbidden" />
			<error statusCode="404" redirect="~/Error/NotFound" />
			<error statusCode="500" redirect="~/Error" />
		</customErrors>

		<httpRuntime relaxedUrlToFileSystemMapping="true" maxRequestLength="20480" />
	</system.web>

	<system.net>
		<mailSettings>
			<smtp configSource="smtp.config"></smtp>
		</mailSettings>
	</system.net>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add name="UrlRoutingHandler" type="System.Web.Routing.UrlRoutingHandler,      System.Web, Version=4.0.0.0,      Culture=neutral,      PublicKeyToken=b03f5f7f11d50a3a" path="/Profile/*" verb="*" />
		</handlers>
		<modules runAllManagedModulesForAllRequests="false" />
		<httpErrors>
			<remove statusCode="403" subStatusCode="-1" />
			<remove statusCode="500" subStatusCode="-1" />
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" prefixLanguageFilePath="" path="/Error/NotFound" responseMode="ExecuteURL" />
			<error statusCode="500" prefixLanguageFilePath="" path="/Error" responseMode="ExecuteURL" />
			<error statusCode="403" prefixLanguageFilePath="" path="/Error/Forbidden" responseMode="ExecuteURL" />
			<error statusCode="400" path="/Error/BadRequest" responseMode="ExecuteURL" />
		</httpErrors>
		<defaultDocument>
			<files>
				<remove value="index.php" />
			</files>
		</defaultDocument>

		<rewrite>
			<rules>
				<rule name="Prevent image hotlinking" enabled="true" stopProcessing="true">
					<match url="^Album/CoverPicture/\d+" negate="false" />
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_REFERER}" pattern="^http://soysaucechan\.blogspot\.\w+/2012/08/weekender-girl-fake-doll-kz8prince\.html" negate="false" />
						<add input="{HTTP_REFERER}" pattern="^http://www\.tsdm\.net/forum\.php" negate="false" />
					</conditions>
					<action type="Redirect" url="http://static.vocadb.net/img/noleech.png" appendQueryString="false" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<system.serviceModel>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<location path="Album/Edit">
		<system.web>
			<httpRuntime maxRequestLength="40960" executionTimeout="3000" />
		</system.web>
	</location>

	<vocaDb>
		<affiliates amazonComAffiliateId="vocvocdat-20" amazonJpAffiliateId="" playAsiaAffiliateId="852809"></affiliates>
		<siteSettings sitewideAnnouncement="VocaDB is looking for moderators and developers (web programming/design with ASP.NET MVC and/or JavaScript/TypeScript/Knockout). Please see &lt;a href='http://blog.vocadb.net/recruiting-developers-staff-members/'&gt;this blog post&lt;/a&gt; for more information if you think you could help."></siteSettings>
	</vocaDb>

</configuration>
