<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="vocaDb">
      <section name="affiliates" type="VocaDb.Model.Utils.Config.AffiliatesSection, VocaDb.Model" />
      <section name="siteSettings" type="VocaDb.Model.Utils.Config.SiteSettingsSection, VocaDb.Model" />
      <section name="specialTags" type="VocaDb.Model.Utils.Config.SpecialTagsSection, VocaDb.Model" />
	  <!--<section name="slogans" type="VocaDb.Model.Utils.Config.SlogansSectionHandler, VocaDb.Model" />-->
		<sectionGroup name="globalLinks">
			<section name="appLinks" type="VocaDb.Model.Utils.Config.LinksSectionHandler, VocaDb.Model">
			</section>
			<section name="socialSites" type="VocaDb.Model.Utils.Config.LinksSectionHandler, VocaDb.Model">
			</section>
			<section name="bigBanners" type="VocaDb.Model.Utils.Config.LinksSectionHandler, VocaDb.Model">
			</section>
			<section name="smallBanners" type="VocaDb.Model.Utils.Config.LinksSectionHandler, VocaDb.Model">
			</section>
		</sectionGroup>
	</sectionGroup>	
	  <section name="syscache2" type="NHibernate.Caches.SysCache2.SysCacheSection" />
  </configSections>
  <appSettings file="appsettings.config">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <!-- Needed to disable RoleManager. See http://stackoverflow.com/a/15989036 and http://stackoverflow.com/a/871213 -->
    <add key="enableSimpleMembership" value="false" />
	<!-- https://blogs.msdn.microsoft.com/webdev/2012/11/19/all-about-httpruntime-targetframework/ -->
	<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings configSource="connections.config" />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8" batch="false">
      <assemblies>
        <!-- http://www.lyalin.com/2014/04/25/the-type-system-object-is-defined-in-an-assembly-that-is-not-reference-mvc-pcl-issue/ -->
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=5.1.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!-- https://stackoverflow.com/questions/49925484/you-must-add-a-reference-to-assembly-netstandard-version-2-0-0-0/51743098#51743098 -->
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms defaultUrl="/" loginUrl="~/User/Login" timeout="10080" name=".ASPXFORMSAUTH" protection="All" path="/" slidingExpiration="true" />
    </authentication>
    <machineKey configSource="machinekey.config" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <globalization enableClientBasedCulture="true" uiCulture="auto" culture="auto" />
    <customErrors mode="Off" defaultRedirect="~/Error">
      <error statusCode="403" redirect="~/Error/Forbidden" />
      <error statusCode="404" redirect="~/Error/NotFound" />
      <error statusCode="500" redirect="~/Error" />
    </customErrors>
    <httpRuntime relaxedUrlToFileSystemMapping="true" maxRequestLength="20480" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp configSource="smtp.config" />
    </mailSettings>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="UrlRoutingHandler" type="System.Web.Routing.UrlRoutingHandler,      System.Web, Version=4.0.0.0,      Culture=neutral,      PublicKeyToken=b03f5f7f11d50a3a" path="/Profile/*" verb="*" />
      
      
      
      
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
    <modules runAllManagedModulesForAllRequests="false" />
    <httpErrors>
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/Error/NotFound" responseMode="ExecuteURL" />
      <error statusCode="500" prefixLanguageFilePath="" path="/Error" responseMode="ExecuteURL" />
      <error statusCode="403" subStatusCode="6" prefixLanguageFilePath="" path="/Error/IPForbidden" responseMode="ExecuteURL" />
      <error statusCode="403" prefixLanguageFilePath="" path="/Error/Forbidden" responseMode="ExecuteURL" />
      <error statusCode="400" path="/Error/BadRequest" responseMode="ExecuteURL" />
    </httpErrors>
    <defaultDocument>
      <files>
        <remove value="index.php" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="41943040" />
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule name="Prevent image hotlinking" enabled="true" stopProcessing="true">
          <match url="^Album/CoverPicture/\d+" negate="false" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_REFERER}" pattern="^http://soysaucechan\.blogspot\.\w+/2012/08/weekender-girl-fake-doll-kz8prince\.html" negate="false" />
            <add input="{HTTP_REFERER}" pattern="^http://www\.tsdm\.net/forum\.php" negate="false" />
          </conditions>
          <action type="Redirect" url="http://static.vocadb.net/img/noleech.png" appendQueryString="false" />
        </rule>
        <!-- from http://stackoverflow.com/a/26930023 -->
        <rule name="Abort requests to ali.txt - alihack" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="ali.txt" />
          <conditions>
            <add input="{REQUEST_METHOD}" matchType="Pattern" pattern="PUT" ignoreCase="true" />
          </conditions>
          <action type="AbortRequest" />
        </rule>
        <rule name="Redirect to https" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" negate="false" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.2.0" newVersion="4.9.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.Mvc" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.10.0" newVersion="1.8.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.3.19379" newVersion="1.9.3.19379" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.PlatformServices" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.27818" newVersion="1.9.2.27818" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
	  <!-- Unsure why these are needed, but it's probably because web projects don't support PackageReference properly -->
	  <dependentAssembly>
		<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" />
		<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="System.IO.FileSystem.AccessControl" publicKeyToken="b03f5f7f11d50a3a" />
		<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" />
		<bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
	  </dependentAssembly>
	</assemblyBinding>
  </runtime>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	  <bindings>
		  <basicHttpBinding>
			  <binding name="BasicHttpBinding_QueryService">
				  <security mode="Transport">
					  <transport clientCredentialType="None" />
				  </security>
			  </binding>
		  </basicHttpBinding>
	  </bindings>
    <services>
      <service name="VocaDb.Web.Services.QueryService" behaviorConfiguration="QueryServiceBehaviors">
        <endpoint contract="VocaDb.Web.Services.QueryService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_QueryService" address="" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="QueryServiceBehaviors">
		  <!--<serviceDebug
            includeExceptionDetailInFaults="true"
          />-->
		  <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <location path="Album/Edit">
    <system.web>
      <httpRuntime maxRequestLength="40960" executionTimeout="3000" requestValidationMode="2.0" />
    </system.web>
  </location>
  <location path="Song/Edit">
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
  <location path="Song/PostMedia">
    <system.web>
      <httpRuntime maxRequestLength="40960" executionTimeout="3000" />
    </system.web>
  </location>
  <location path="User/ComposeMessage">
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
  <vocaDb>
    <affiliates amazonComAffiliateId="vocvocdat-20" amazonJpAffiliateId="" playAsiaAffiliateId="852809" />
    <siteSettings twitterAccountName="vocadb" patreonLink="https://www.patreon.com/vocadb" sitewideAnnouncement="" stylesheets="TetoDB.css,DarkAngel.css" />
    <specialTags changedLyrics="2866" free="160" shortVersion="4717" />
	  <globalLinks>
		  <appLinks>
			  <link bannerImg="en_app_rgb_wo_45.png" title="Google Play Store" url="https://play.google.com/store/apps/details?id=com.coolappz.Vocadb"></link>
			  <link bannerImg="appstore.png" title="App Store" url="https://itunes.apple.com/us/app/vocadb/id907510673"></link>
		  </appLinks>
		  <socialSites>
			  <link bannerImg="facebook.png" title="Facebook" url="https://www.facebook.com/vocadb"></link>
			  <link bannerImg="Twitter_Logo.png" title="Twitter" url="https://twitter.com/VocaDB"></link>
			  <link bannerImg="irc.png" title="IRC" url="https://vocadb.net/Home/Chat"></link>
			  <link bannerImg="vk.png" title="VK" url="https://vk.com/vocadb"></link>
		  </socialSites>
		  <bigBanners>
		  </bigBanners>
		  <smallBanners>
			  <link bannerImg="utaitedb_small.png" title="UtaiteDB" url="https://utaitedb.net"></link>
			  <link bannerImg="touhoudb_small.png" title="TouhouDB" url="https://touhoudb.com"></link>
			  <link bannerImg="mikufan_small.png" title="Mikufan.com" url="http://www.mikufan.com"></link>
			  <link bannerImg="pjd-wiki_small.png" title="Project Diva Wiki" url="http://projectdiva.wiki/"></link>
			  <link bannerImg="rvocaloid_small2.png" title="r/vocaloid" url="https://www.reddit.com/r/vocaloid"></link>
			  <link bannerImg="vocallective_small.jpg" title="Vocallective" url="http://www.vocallective.net"></link>
			  <link bannerImg="vnn.png" title="Vocaloid News Network" url="https://www.vocaloidnews.net/"></link>
			  <link bannerImg="vocaeuro.jpg" title="VocaEuro" url="https://vocaeuro.wordpress.com/"></link>
			  <link bannerImg="vocaverse_small.png" title="VocaVerse Network" url="https://vocaverse.network/"></link>
			  <link bannerImg="mikupa_ru.jpg" title="Mikupa.ru" url="https://mikupa.ru/"></link>
			  <link bannerImg="vocalonexus.jpg" title="Vocalnexus" url="https://vocalnexus.de/"></link>
		  </smallBanners>
	  </globalLinks>
	<!--<slogans>
	</slogans>-->
  </vocaDb>
</configuration>
