<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.web>
		
		<compilation xdt:Transform="RemoveAttributes(debug,batch)" />
		
		<authentication>
			<forms domain=".vocadb.net" xdt:Transform="SetAttributes" />
		</authentication>

		<customErrors mode="On" xdt:Transform="SetAttributes" />

		<httpRuntime enableVersionHeader="false" xdt:Transform="SetAttributes" />
		
	</system.web>

	<!-- Revert to default config -->
	<system.serviceModel>
		<services>
			<service name="VocaDb.Web.Services.QueryService" xdt:Locator="Match(name)">
				<endpoint binding="mexHttpBinding" xdt:Locator="Match(binding)" xdt:Transform="Remove" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="QueryServiceBehaviors" xdt:Locator="Match(name)">
					<serviceMetadata xdt:Transform="Remove" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

</configuration>