@using VocaDb.Model.Domain.Images;
@using VocaDb.Web.Helpers;
@using VocaDb.Web.Models.Shared.Partials.Artist;
@model ArtistIconLinkViewModel

<a href="@Url.Action("Details", "Artist", new { id = Model.Artist.Id })">
	<img src="@Url.ImageThumb(Model.Artist, ImageSize.TinyThumb)" alt="Thumb" class="coverPicThumb" />
</a>
