@addTagHelper *, VocaDb.ReMikus

@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Vocaloid Database</title>
	<remikus path="/Content/css.css" />
</head>
<body class="vdb">
	<inertia model="@Model" />

	<remikus path="/js/app.js" />
</body>
</html>
