@using VocaDb.Web.Helpers
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>QUnit Tests for VocaDB</title>
	<link rel="stylesheet" href="@Url.Content("~/Content/qunit-1.19.0.css")" type="text/css" />
</head>
<body>
	<div id="qunit"></div>
	<div id="qunit-fixture"></div>

	<remikus path="/bundles/shared/libs.js" />
	<remikus path="/bundles/VocaDB.js" />
	<remikus path="/bundles/shared/common.js" />
	<remikus path="/bundles/shared/main.js" />
	<script src="@Url.Content("~/Scripts/Libraries/qunit-1.19.0.js")"></script>
	<remikus path="/bundles/tests.js" />
</body>
</html>
