root = true

[*]
end_of_line = crlf
indent_style = tab
tab_width = 4
charset = utf-8
indent_size = 4

# .cshtml files should be with BOM by default
# https://docs.microsoft.com/en-us/dotnet/api/system.web.configuration.globalizationsection.fileencoding?view=netframework-4.8
[*.cshtml]
charset = utf-8-bom
