packages/
VocaDbWeb/bin/
VocaDbWeb/obj/
Tests/bin/
Tests/obj/
VocaDb.UtaiteDbResources/obj/
VocaDb.UtaiteDbResources/bin/
VocaDbModel/obj/
VocaDbModel/bin/
VocaDb.SiteMapGenerator/bin/
VocaDb.SiteMapGenerator/obj/
VocaDbWeb/App_Data/XmlDocument.xml
*.js
*.suo
VocaDbWeb/EntryImg/
*.user
VocaDbWeb/Content/miku3.jpg
VocaDbWeb/connections.config
VocaDbWeb/appsettings.config
VocaDbWeb/machinekey.config
VocaDbWeb/smtp.config
