packages/
VocaDbWeb/bin/
VocaDbWeb/obj/
VocaDbWeb.Core/bin/
VocaDbWeb.Core/obj/
Tests/bin/
Tests/obj/
VocaDb.UtaiteDbResources/obj/
VocaDb.UtaiteDbResources/bin/
VocaDbModel/obj/
VocaDbModel/bin/
VocaDb.SiteMapGenerator/bin/
VocaDb.SiteMapGenerator/obj/
VocaDbWeb/App_Data/XmlDocument.xml
*.js
*.suo
VocaDbWeb/EntryImg/
*.user
VocaDbWeb/Content/miku3.jpg
VocaDbWeb/connections.config
VocaDbWeb/appsettings.config
VocaDbWeb/machinekey.config
VocaDbWeb/smtp.config
VocaDb.Migrations/obj/
VocaDb.Migrations/bin/
*.vspx
.vs/config/applicationhost.config
TestResults/
/.vs
VocaDb.TouhouDb.Resources/bin/
VocaDb.TouhouDb.Resources/obj/
*.exe
VocaDbWeb/node_modules/
VocaDbWeb/Content/css.css
VocaDbWeb/Content/embedSong.css
VocaDbWeb/Scripts/jqwidgets27/styles/css.css
VocaDbWeb/mix-manifest.json
VocaDbWeb.Resources/bin/
VocaDbWeb.Resources/obj/
*.mdf
*.ldf
*.ndf
VocaDbWeb.Core/connections.config
VocaDbWeb.Core/appsettings.config
VocaDbWeb.Core/machinekey.config
VocaDbWeb.Core/smtp.config
VocaDbWeb.Core/node_modules/
VocaDbWeb.Core/wwwroot/Content/css.css
VocaDbWeb.Core/wwwroot/Content/embedSong.css
VocaDbWeb.Core/wwwroot/Scripts/jqwidgets27/styles/css.css
VocaDbWeb.Core/wwwroot/mix-manifest.json
