version: 1.0.{build}
image: Visual Studio 2022
install:
- cmd: set PATH=C:\Program Files (x86)\MSBuild\17.0\Bin;%PATH%
- git submodule update --init --recursive
cache: packages
before_build:
- cmd: dotnet restore VocaDb.sln
build:
  project: VocaDb.sln
  verbosity: normal
branches:
  except:
  - l10n_main
test:
  categories:
    except:
    - Database