@using VocaDb.Web.Models.Shared.Partials.User
@model VocaDb.Model.DataContracts.Security.ServerOnlyAuditLogEntryContract[]

@foreach (var entry in Model) {
	<tr>
		<td>@entry.Time.ToUniversalTime()</td>
		<td>
			<partial name="Partials/User/_UserLinkOrName" model="@(new UserLinkOrNameViewModel(entry.User, entry.AgentName))" />
		</td>
		<td>
			@Html.Raw(entry.Action)
		</td>
	</tr> 
}

