@using VocaDb.Web.Models.Shared.Partials.User
@model VocaDb.Model.DataContracts.Security.AuditLogEntryContract[]

@foreach (var entry in Model) {
	<tr>
		<td>@entry.Time.ToUniversalTime()</td>
		<td>
			@Html.Partial("Partials/User/_UserLinkOrName", new UserLinkOrNameViewModel(entry.User, entry.AgentName))
		</td>
		<td>
			@Html.Raw(entry.Action)
		</td>
	</tr> 
}

