@using VocaDb.Model.Domain.Globalization
@using VocaDb.Web.Helpers

@{
	var languages = LanguageCodeAndName.Languages(InterfaceLanguage.UserLanguageCultures, "Other/Unknown");
}

<!-- LyricsForSongEditViewModel -->

<div class="accordion-group">
	<div class="accordion-heading">
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#lyricsAccordion" data-bind="click: toggleAccordion">
			<i class="icon icon-chevron-down"></i>
			<span data-bind="text: translationType"></span>
			<span data-bind="visible: showLanguageSelection, text: '(' + $parents[1].languageNames[cultureCode()] + ')'"></span>
			<span data-bind="visible: source(), text: 'from ' + source()"></span>
		</a>
	</div>
	<div class="accordion-body collapse" data-bind="css: { in: isNew }">
		<div class="accordion-inner">
			<p>
				<label data-bind="visible: showLanguageSelection">
					@ViewRes.Song.EditStrings.LyLanguage
					@KnockoutHelpers.DropdownList(languages.ToDictionary(l => l.Code, l => l.DisplayName), "cultureCode")					
				</label>
				<label>
					@ViewRes.Song.EditStrings.LySource
					<input type="text" data-bind="textInput: source" class="input-xlarge" size="45" maxlength="255" />
				</label>
			</p>

			<textarea data-bind="value: value" cols="65" rows="30" class="input-xxlarge"></textarea>
			<br />

			<a data-bind="click: $parent.remove" href="#" class="textLink deleteLink">@ViewRes.SharedStrings.Delete</a>
		</div>
	</div>
</div>