@using VocaDb.Web.Models.Shared.Partials.Venue
@model VenueLinkViewModel

<a asp-action="Details" asp-controller="Venue" asp-route-id="@(Model.Venue.Id)" title="@(Model.Venue.AdditionalNames)">@(Model.Venue.Name)</a>