<!--
	Shows a message for cover artists in an original song.
	Binding context:  KnockoutComputed<dc.ArtistContract[]>
-->
<div class="alert" style="display:none" data-bind="visible: coverArtists() && coverArtists().length > 0 && !canHaveOriginalVersion()">
	<partial name="Partials/Shared/_NotificationIcon" />
	@ViewRes.EntryCreateStrings.FoundCoverArtist
	<ul data-bind="foreach: coverArtists">
		<li>
			<a data-bind="text: name, attr: { href: app.EntryUrlMapper.details_artist($data) }"></a>
			<div data-bind="if: additionalNames">
				<span data-bind="text: additionalNames"></span>
			</div>
		</li>
	</ul>
</div>