<!--
	Management options for an IP.
	Binding context: string (IP address).
-->
<span data-bind="text: $data"></span>
(<a data-bind="attr: { href: 'http://www.geoiptool.com/?IP=' + $data }" href="#" target="_blank">View on GeoIPTool</a>)
(<a data-bind="attr: { href: 'http://www.stopforumspam.com/search?q=' + $data }" href="#" target="_blank">View on StopForumSpam</a>)
(<a data-bind="attr: { href: vdb.functions.mapAbsoluteUrl('/Admin/ViewAuditLog?filter=' + $data) }" href="#" target="_blank">View in audit log</a>)