/* Validation
-----------------------------------------------------------*/
.field-validation-error {
  color: #ff0000;
}
.field-validation-valid {
  display: none;
}
.input-validation-error {
  border: 1px solid #ff0000;
  background-color: #ffeeee;
}
.validation-summary-errors {
  margin-top: 4px;
}
.validation-summary-errors ul {
  margin-bottom: 0;
}
.validation-summary-valid {
  display: none;
}
.chatbox-hide {
  position: fixed;
  right: 20px;
  bottom: 100px;
  color: white;
}
.chatbox-hide:hover {
  color: white;
}
.entry-field-label-col {
  min-width: 100px;
}
.entry-description p {
  margin-bottom: 0;
}
.entry-edit-description .edit-text {
  width: 40%;
  margin-right: 10px;
}
.entry-edit-description .edit-text,
.entry-edit-description .edit-preview {
  display: inline-block;
  vertical-align: top;
  min-width: 400px;
}
.song-pv-player {
  margin: 24px;
}
.comment-with-entry {
  width: auto;
}
.create-comment.standalone:not(:last-child),
.editable-comment.standalone:not(:last-child) {
  margin-bottom: 30px;
}
.create-comment.well form,
.editable-comment.well form {
  margin-bottom: 0;
}
.comment-text-edit {
  max-width: 700px;
  width: 90%;
  width: calc(100% - 20px);
  display: block;
}
