/* Validation
-----------------------------------------------------------*/
.field-validation-error {
  color: #ff0000;
}
.field-validation-valid {
  display: none;
}
.input-validation-error {
  border: 1px solid #ff0000;
  background-color: #ffeeee;
}
.validation-summary-errors {
  margin-top: 4px;
}
.validation-summary-errors ul {
  margin-bottom: 0;
}
.validation-summary-valid {
  display: none;
}
.chatbox-hide {
  position: fixed;
  right: 20px;
  bottom: 100px;
  color: white;
}
.chatbox-hide:hover {
  color: white;
}
.link-list {
  margin: 0;
  display: inline-block;
}
.link-list .link-item {
  display: inline-block;
}
.link-list .link-item:not(:last-child) > ::after {
  content: ", ";
}
body {
  padding-top: 50px;
}
@media (max-width: 768px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 610px) {
  body {
    padding-top: 80px;
  }
}
@media (min-width: 768px) {
  body .container-fluid {
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 970px) {
  .row-fluid .rightFrame {
    margin-left: 1%;
    width: 84%;
  }
}
@media (max-width: 970px) {
  .row-fluid .rightFrame {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}
.navbar .brand {
  padding-top: 6px;
}
@media (max-width: 970px) {
  .vdb .menu {
    display: none;
  }
}
.vdb .navbar-searchBox {
  max-width: 402px;
  width: calc(100% - 60px);
}
@media (max-width: 970px) {
  .vdb .navbar-searchBox {
    margin-bottom: 5px;
  }
}
@media (min-width: 970px) {
  .vdb .navbar-searchBox {
    margin-right: 30px;
  }
}
.vdb .globalSearchBox {
  max-width: 270px;
  width: auto;
}
@media (max-width: 970px) {
  .vdb .globalSearchBox {
    width: calc(100% - 160px);
  }
}
.navbar-search {
  width: 100%;
}
@media (max-width: 970px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    margin-right: 0;
    margin-left: 0;
  }
}
.vdb .navbar-inverse .btn-navbar {
  margin-top: 1px;
  margin-left: 10px;
  background-color: #081A21;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2c8fb2), to(#216b88));
  background-image: -webkit-linear-gradient(top, #2c8fb2, #216b88);
  background-image: -o-linear-gradient(top, #2c8fb2, #216b88);
  background-image: -moz-linear-gradient(center top, #2c8fb2, #216b88);
  background-image: linear-gradient(top, #2c8fb2, #216b88);
}
.vdb .navbar-inverse .btn-navbar:hover {
  background-color: #216b88;
}
@media (min-width: 970px) {
  .nav-collapse {
    display: none;
  }
}
.vdb .page-title {
  margin-bottom: 10px;
  font-size: 24px;
}
.pre-line {
  white-space: pre-line;
}
.entry-field-label-col {
  min-width: 100px;
}
.entry-description {
  margin-bottom: 10px;
}
.entry-description p:last-child {
  margin-bottom: 0;
}
.entry-edit-description .edit-text {
  width: 40%;
  margin-right: 10px;
}
.entry-edit-description .edit-text,
.entry-edit-description .edit-preview {
  display: inline-block;
  vertical-align: top;
  min-width: 400px;
}
.entry-tag-usages {
  display: inline-block;
  margin-right: 10px;
}
.entry-field-inline-warning {
  margin-left: 20px;
}
.row-new {
  background-color: rgba(128, 255, 128, 0.4);
}
.row-deleted {
  background-color: rgba(255, 128, 128, 0.4);
  text-decoration: line-through;
}
.artist-details-page .entry-main-picture {
  padding-right: 7px;
}
.song-pv-player {
  margin: 24px;
}
.song-list-year {
  margin: 0;
}
.tag-cloud {
  font-size: 20px;
  margin-bottom: 20px;
}
.user-known-languages {
  list-style: none;
  margin-left: 0;
}
.comment-with-entry {
  width: auto;
}
.create-comment.standalone:not(:last-child),
.editable-comment.standalone:not(:last-child) {
  margin-bottom: 30px;
}
.create-comment.well form,
.editable-comment.well form {
  margin-bottom: 0;
}
.comment-text-edit {
  max-width: 900px;
  width: 90%;
  width: calc(100% - 20px);
  display: block;
}
.comment-date {
  font-size: small;
}
.archived-entry-compare-modified {
  font-weight: bold;
}
.event-teaser,
.event-teaser-tiny {
  width: 29%;
  margin-right: 1%;
  float: left;
}
.event-teaser .event-image,
.event-teaser-tiny .event-image {
  margin-right: 7px;
}
.event-teaser {
  height: 150px;
}
.event-teaser-tiny {
  height: 70px;
}
.song-lists-filters {
  margin-bottom: 20px;
}
.song-lists-text-query {
  margin-left: 20px;
}
.song-lists-text-query input {
  margin-bottom: 0;
}
.song-lyrics {
  white-space: pre-line;
}
.album-reviews {
  margin-top: 20px;
}
.album-reviews .album-review {
  margin-bottom: 30px;
}
.album-reviews .album-review-title {
  margin-left: 0;
}
.razor-whitespace-fix {
  margin-left: -3px;
}