

/* Validation
-----------------------------------------------------------*/
.field-validation-error {
	color: #ff0000;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid #ff0000;
	background-color: #ffeeee;
}

.validation-summary-errors {

	margin-top: 4px;	

	ul {
		margin-bottom: 0;
	}

}

.validation-summary-valid {
	display: none;
}


// Songs
.song-pv-player {
	margin: 24px;
}