body {
  color: #96dcdc;
  background: url(https://static.vocadb.net/img/darkangel.png) top center no-repeat fixed;
  background-color: black;
}
.rightFrame {
  background-color: #003232;
  background-color: rgba(0, 50, 50, 0.85);
  border: solid #009696 2px;
}
.rightFrame a {
  color: #64b4fa;
}
.menu > .well {
  background-color: #003232;
  background-color: rgba(0, 50, 50, 0.85);
  border: solid #009696 2px;
}
.menu a {
  color: #64b4fa;
}
.menu a:visited {
  color: #50a0dc;
}
.nav-list > li > a,
.nav-list .nav-header {
  text-shadow: none;
}