body {
  background-color: transparent;
}
div.pvViewerContent {
  overflow: hidden;
  padding: 5px;
  background-color: #333333;
}
div.pvViewerContent .songPreviewTitle {
  color: white;
}
div.pvViewerContent .ratingButtons {
  float: right;
}
div.pvViewerContent .pvLinks a {
  color: white;
}
div.pvViewerContent .pvLinks a:visited {
  color: white;
}
div.pvViewerContent .pvLinks a:hover {
  color: white;
  text-decoration: none;
}
div.pvLinks {
  background-color: #333;
  margin-top: 2px;
}
div.pvLinks .item {
  background-color: #333;
  font-size: 12px;
  padding: 5px;
  width: 120px;
  cursor: pointer;
  display: inline-block;
}
div.pvLinks .item:hover {
  background-color: #444;
}
div.pvLinks .item.active {
  background-color: #555;
}
.embed-pv-piapro iframe {
  width: 100%;
  height: 42%;
  margin-top: 15%;
}
