/* External links */
a.extLink {
  padding: 2px 0 2px 20px;
  background: url("/Content/Icons/world.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: 50%;
}
a.extLink[href^="http://about.me/"],
a.extLink[href^="https://about.me/"] {
  background-image: url("/Content/ExtIcons/aboutme.png");
}
a.extLink[href^="http://ec.akbh.jp/products/detail.php"],
a.extLink[href^="https://ec.akbh.jp/products/detail.php"] {
  background-image: url("/Content/ExtIcons/akibahobby.png");
}
a.extLink[href^="http://www.amazon.co.jp/"],
a.extLink[href^="https://www.amazon.co.jp/"],
a.extLink[href^="http://www.amazon.com/"],
a.extLink[href^="https://www.amazon.com/"] {
  background-image: url("/Content/ExtIcons/amazon.png");
}
a.extLink[href^="http://www.animate-onlineshop.jp/"],
a.extLink[href^="https://www.animate-onlineshop.jp/"] {
  background-image: url("/Content/ExtIcons/animate.png");
}
a.extLink[href^="http://www5.atwiki.jp/hmiku/"],
a.extLink[href^="https://www5.atwiki.jp/hmiku/"],
a.extLink[href^="https://w.atwiki.jp/hmiku/"] {
  background-image: url("/Content/ExtIcons/atwiki.png");
}
a.extLink[href*=".bilibili.tv/"],
a.extLink[href*=".bilibili.com/"]{
  background-image: url("/Content/ExtIcons/bilibili.png");
}
a.extLink[href*="booth.pm/"] {
  background-image: url("/Content/ExtIcons/booth.png");
}
a.extLink[href^="https://creofuga.net/"],
a.extLink[href^="https://en.creofuga.net/"] {
  background-image: url("/Content/ExtIcons/creofuga.png");
}
a.extLink[href^="http://d-stage.com/"] {
  background-image: url("/Content/ExtIcons/dstage.png");
}
a.extLink[href*="deviantart.com/"] {
  background-image: url("/Content/ExtIcons/dA.png");
}
a.extLink[href^="http://www.discogs.com/"],
a.extLink[href^="https://www.discogs.com/"] {
  background-image: url("/Content/ExtIcons/discogs.png");
}
a.extLink[href^="http://shop.fasic.jp/"] {
  background-image: url("/Content/ExtIcons/fasic.png");
}
a.extLink[href^="https://play.google.com/"] {
  background-image: url("/Content/ExtIcons/google-play.png");
}
a.extLink[href^="http://www.hmv.co.jp/"],
a.extLink[href^="https://www.hmv.co.jp/"] {
  background-image: url("/Content/ExtIcons/hmv.png");
}
a.extLink[href^="https://www.instagram.com/"],
a.extLink[href^="https://instagram.com/"] {
  background-image: url("/Content/ExtIcons/instagram.png");
}
a.extLink[href^="http://shop.melonbooks.co.jp/"],
a.extLink[href^="https://www.melonbooks.co.jp/"] {
  background-image: url("/Content/ExtIcons/melonbooks.png");
}
a.extLink[href^="http://mikumikudance.wikia.com/wiki/"],
a.extLink[href^="https://mikumikudance.fandom.com/wiki/"] {
  background-image: url("/Content/ExtIcons/mmdwiki.png");
}
a.extLink[href^="https://musicbrainz.org/"] {
  background-image: url("/Content/ExtIcons/musicbrainz.png");
}
a.extLink[href^="http://www.pixiv.net/"],
a.extLink[href^="https://www.pixiv.net/"] {
  background-image: url("/Content/ExtIcons/pixiv.png");
}
a.extLink[href^="http://www.play-asia.com/"],
a.extLink[href^="https://www.play-asia.com/"] {
  background-image: url("/Content/ExtIcons/playasia.png");
}
a.extLink[href^="https://play.spotify.com/"],
a.extLink [href^="https://open.spotify.com/"] {
  background-image: url("/Content/ExtIcons/spotify.png");
}
a.extLink[href^="http://www.lagoa.jp/"] {
  background-image: url("/Content/ExtIcons/three.png");
}
a.extLink[href^="https://www.metal-archives.com/"] {
  background-image: url("/Content/ExtIcons/ma.png");
}
a.extLink[href^="http://sonicwire.com"],
a.extLink[href^="https://sonicwire.com"] {
  background-image: url("/Content/ExtIcons/sonicwire.png");
}
a.extLink[href*=".taobao.com"] {
  background-image: url("/Content/ExtIcons/itemtaobao.png");
}
a.extLink[href^="http://www.toranoana.jp/"],
a.extLink[href^="https://www.toranoana.jp/"] {
  background-image: url("/Content/ExtIcons/tora.png");
}
a.extLink[href^="http://www.tower.com/"],
a.extLink[href^="https://www.tower.com/"] {
  background-image: url("/Content/ExtIcons/towerrecords.png");
}
a.extLink[href^="https://touhoudb.com"] {
  background-image: url("/Content/ExtIcons/touhoudb.png");
}
a.extLink[href^="http://www.tsutaya.co.jp/"],
a.extLink[href^="https://tsutaya.tsite.jp/"] {
  background-image: url("/Content/ExtIcons/tsutaya.png");
}
a.extLink[href^="http://twipla.jp/"],
a.extLink[href^="https://twipla.jp/"] {
  background-image: url("/Content/ExtIcons/twipla.png");
}
a.extLink[href^="https://en.touhouwiki.net/wiki/"] {
  background-image: url("/Content/ExtIcons/touhouwiki.png");
}
a.extLink[href^="http://utaitedb.net/"],
a.extLink[href^="https://utaitedb.net/"] {
  background-image: url("/Content/ExtIcons/utaitedb.png");
}
a.extLink[href^="http://utaite.wikia.com/wiki/"],
a.extLink[href^="https://utaite.fandom.com/wiki/"] {
  background-image: url("/Content/ExtIcons/utaitewikia.png");
}
a.extLink[href^="http://vgmdb.net/"],
a.extLink[href^="https://vgmdb.net/"] {
  background-image: url("/Content/ExtIcons/vgmdb.png");
}
a.extLink[href^="http://vk.com/"],
a.extLink[href^="https://vk.com/"] {
  background-image: url("/Content/ExtIcons/vk.png");
}
a.extLink[href^="http://vocadb.net/"],
a.extLink[href^="https://vocadb.net/"] {
  background-image: url("/Content/ExtIcons/vocadb.png");
}
a.extLink[href^="http://www.vocallective.net"] {
  background-image: url("/Content/ExtIcons/vocallective.png");
}
a.extLink[href^="http://www.vocaloidotaku.net"] {
  background-image: url("/Content/ExtIcons/vo.png");
}
a.extLink[href^="http://weibo.com/"],
a.extLink[href^="http://www.weibo.com/"],
a.extLink[href^="https://www.weibo.com/"],
a.extLink[href^="https://weibo.com/"] {
  background-image: url("/Content/ExtIcons/weibo.png");
}
a.extLink[href^="http://cevio.wikia.com/wiki/"],
a.extLink[href^="http://alterego.wikia.com/wiki/"] {
  background-image: url("/Content/ExtIcons/wikia.png");
}
a.extLink[href^="https://www.vocaloid.com/"] {
  background-image: url("/Content/ExtIcons/vocaloidshop.png");
}
a.extLink[href^="mailto:"] {
  background-image: url("/Content/Icons/email.png");
}
a.extLink[href^="http://alice-books.com/"] {
  background-image: url("/Content/ExtIcons/alicebooks.png");
}
a.extLink[href^="http://ameblo.jp/"],
a.extLink[href^="https://ameblo.jp/"] {
  background: url("/Content/ExtIcons/ameblo.png") no-repeat left 50%;
}
a.extLink[href^="http://www.amiami.com/"],
a.extLink[href^="https://www.amiami.com/"] {
  background: url("/Content/ExtIcons/amiami.png") no-repeat left 50%;
}
a.extLink[href*="bandcamp.com"] {
  background-image: url("/Content/ExtIcons/bandcamp.png");
}
a.extLink[href^="http://www.cdjapan.co.jp/"] {
  background: url("/Content/ExtIcons/cdjapan.png") no-repeat left 50%;
}
a.extLink[href^="http://www.crypton.co.jp/"],
a.extLink[href^="https://ec.crypton.co.jp/"],
a.extLink[href^="https://www.crypton.co.jp/"] {
  background: url("/Content/ExtIcons/cfm.png") no-repeat left 50%;
}
a.extLink[href^="http://exittunes.com/"],
a.extLink[href^="https://exittunes.com/"] {
  background: url("/Content/ExtIcons/exittunes.png") no-repeat left 50%;
}
a.extLink[href*="www.facebook.com/"] {
  background: url("/Content/ExtIcons/facebook.png") no-repeat left 50%;
}
a.extLink[href^="https://plus.google.com/"] {
  background: url("/Content/ExtIcons/google_plus.png") no-repeat left 50%;
}
a.extLink[href^="http://itunes.apple.com/"],
a.extLink[href^="https://itunes.apple.com/"] {
  background: url("/Content/ExtIcons/itunes.png") no-repeat left 50%;
}
a.extLink[href^="http://karent.jp/"],
a.extLink[href^="https://karent.jp/"] {
  background: url("/Content/ExtIcons/karent.png") no-repeat left 50%;
}
a.extLink[href*="last.fm/"] {
  background: url("/Content/ExtIcons/lastfm.png") no-repeat left 50%;
}
a.extLink[href*="listography.com/"] {
  background: url("/Content/ExtIcons/listography.png") no-repeat left 50%;
}
a.extLink[href^="http://listen.jp/store/"] {
  background: url("/Content/ExtIcons/listenjapan.png") no-repeat left 50%;
}
a.extLink[href^="http://mikudb.com/"] {
  background: url("/Content/ExtIcons/mikudb.png") no-repeat left 50%;
}
a.extLink[href^="http://www.mikustar.com/"] {
  background-image: url("/Content/ExtIcons/mikustar.png");
}
a.extLink[href^="http://mora.jp/"],
a.extLink[href^="https://mora.jp/"] {
  background: url("/Content/ExtIcons/mora.png") no-repeat left 50%;
}
a.extLink[href^="http://dic.nicovideo.jp/"],
a.extLink[href^="https://dic.nicovideo.jp/"] {
  background: url("/Content/ExtIcons/nicopedia.png") no-repeat left 50%;
}
a.extLink[href^="http://com.nicovideo.jp/community/"],
a.extLink[href^="http://ch.nicovideo.jp/community/"],
a.extLink[href^="https://com.nicovideo.jp/community/"],
a.extLink[href^="https://ch.nicovideo.jp/community/"] {
  background-image: url("/Content/nico.png");
}
a.extLink[href^="http://www.nicovideo.jp/"],
a.extLink[href^="https://www.nicovideo.jp/"] {
  background: url("/Content/nico.png") no-repeat left 50%;
}
a.extLink[href^="http://chokuhan.nicovideo.jp/"] {
  background-image: url("/Content/ExtIcons/nicochokuhan.png");
}
a.extLink[href^="http://piapro.jp/"],
a.extLink[href^="http://www.piapro.jp/"],
a.extLink[href^="https://piapro.jp/"],
a.extLink[href^="https://www.piapro.jp/"] {
  background-image: url("/Content/ExtIcons/piapro.png");
}
a.extLink[href^="http://books.rakuten.co.jp/"],
a.extLink[href^="https://books.rakuten.co.jp/"] {
  background: url("/Content/ExtIcons/rakuten.png") no-repeat left 50%;
}
a.extLink[href^="http://soundcloud.com/"],
a.extLink[href^="https://soundcloud.com/"],
a.extLink[href^="http://www.soundcloud.com/"],
a.extLink[href^="https://www.soundcloud.com/"] {
  background: url("/Content/Icons/soundcloud.png") no-repeat left 50%;
}
/* URLs are format user.tumblr.com */
a.extLink[href*="tumblr.com"] {
  background-image: url("/Content/ExtIcons/tumblr.png");
}
a.extLink[href*="twitter.com/"] {
  background: url("/Content/ExtIcons/twitter.png") no-repeat left 50%;
}
a.extLink[href^="http://www24.atwiki.jp/utauuuta/pages/"],
a.extLink[href^="https://www24.atwiki.jp/utauuuta/pages/"],
a.extLink[href^="https://w.atwiki.jp/utauuuta/pages/"] {
  background: url("/Content/ExtIcons/atwiki.png") no-repeat left 50%;
}
a.extLink[href^="http://vimeo.com/"],
a.extLink[href^="https://vimeo.com/"] {
  background: url("/Content/ExtIcons/vimeo.png") no-repeat left 50%;
}
/* URLs are lang.wikipedia.org */
a.extLink[href*="wikipedia.org"] {
  background-image: url("/Content/ExtIcons/wikipedia.png");
}
a.extLink[href^="http://shop.vocaloidstore.com/"] {
  background: url("/Content/ExtIcons/vocastore.png") no-repeat left 50%;
}
a.extLink[href^="http://www.yesasia.com/"],
a.extLink[href^="https://www.yesasia.com/"] {
  background: url("/Content/ExtIcons/yesasia.png") no-repeat left 50%;
}
a.extLink[href^="http://www.youtube.com/"],
a.extLink[href^="https://www.youtube.com/"],
a.extLink[href^="http://youtube.com/"],
a.extLink[href^="https://youtube.com/"],
a.extLink[href^="http://youtu.be/"],
a.extLink[href^="https://youtu.be/"] {
  background-image: url("/Content/youtube.png");
}
a.extLink[href^="http://vocaloid.wikia.com/wiki/"],
a.extLink[href^="https://vocaloid.fandom.com/wiki/"] {
  background: url("/Content/ExtIcons/vocawiki.png") no-repeat left 50%;
}
a.extLink[href*=".moegirl.org/"] {
  background: url("/Content/ExtIcons/moegirl.png");
}
a.extLink[href*="music.163.com/"] {
  background: url("/Content/ExtIcons/ncm.png");
}
a.extLink[href*="5sing.kugou.com/"] {
  background: url("/Content/ExtIcons/5sing.png");
}
a.extLink[href*=".lofter.com/"] {
  background: url("/Content/ExtIcons/lofter.png");
}