.acceptLink, .acceptIcon { background-image: url(../Icons/accept.png); }
.asteriskIcon { background-image: url(../Icons/asterisk_yellow.png); }
.addLink	{ background-image: url(../Icons/add.png); }
.deleteLink	{ background-image: url(../Icons/delete.png); }
.draftIcon	{ background-image: url(../draft.png); }
.editLink	{ background-image: url(../Icons/edit.png); }
.errorIcon	{ background-image: url(../Icons/error.png); }
.heartIcon	{ background-image: url(../Icons/heart.png); }
.helpLink, .helpIcon { background-image: url(../Icons/help.png); }
.lockLink, .lockIcon { background-image: url(../Icons/lock.png); }
.refreshLink	{ background-image: url(../Icons/arrow_refresh.png); }
.removeLink	{ background-image: url(../Icons/remove.png); }
.searchLink	{ background-image: url(../Icons/search.png); }
.starIcon	{ background-image: url(../Icons/star.png); }
.tickLink, .tickIcon { background-image: url(../Icons/tick.png); }

span.icon {
	background-position: 3px 7px;
	background-repeat: no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
	padding: 3px;
}

span.icon-line {
	background-position: 0px -1px;
	background-repeat: no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
	padding-right: 3px;
}

span.helpIcon {
	display: inline-block;
	width: 16px; 
	height: 16px;
	cursor: help;
}
