.pager {
    margin: 8px 3px;
    padding: 3px;
}
.pager .disabled {
    border: 1px solid #DDDDDD;
    color: #999999;
    margin-top: 4px;
    padding: 3px;
    text-align: center;
}
.pager .current {
    background-color: #6EA9BF;
    border: 1px solid #6E99AA;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 4px;
    padding: 3px 5px;
    text-align: center;
}
.pager span, .pager a {
    margin: 4px 3px;
}
.pager a {
    border: 1px solid #AAAAAA;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
}
