/* PV viewer */
.pvViewerContent {
    position: relative;
    overflow: hidden;
    height: 461px;
    min-width: 555px;
    max-width: 560px;
    padding: 10px;
    background-color: rgba(87, 176, 210, 0.55);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.pvViewerContent a.btn,
.pvViewerContent a.btn:visited,
.pvViewerContent a.btn:hover {
    color: white;
}

.pvViewer-translatedNames {
    margin-left: 5px;
    color: gray;
    font-size: smaller;
}

.pvViewer-artists {
    color: #264D5B;
}

.scrollable-navi {
    float: left;
    padding: 0px !important;
    margin: 0px !important;
    margin-left: -45px;
    background-color: rgba(87, 176, 210, 0.55);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.scrollable-item {
    padding: 7px;
    overflow: hidden;
    background-color: #57b0d2;
    background-color: rgba(87, 176, 210, 0.56);
    border-top: 1px solid #42859E;
    clear: both;
    color: black;
    font-size: 12px;
    height: 81px;
    list-style-type: none;
    list-style: none;
    width: 190px;
    cursor: pointer;
    margin-top: 0 !important;
    margin-bottom: 0;
}

.scrollable-item:hover {
    background-color: #57b0d2;
}

.scrollable-item.active {
    background-color: #57b0d2;
}

.scrollable-item img {
    float: left;
    margin-right: 10px;
}

.scrollable-item strong {
    display: block;
}

/* root element for scrollable */
.scrollable-vertical {
    /* required settings */
    position: relative;
    overflow: hidden;
    /* vertical scrollers have typically larger height than width */
    height: 380px;
    width: 200px;
    border-bottom: 1px solid #42859E;
}

/* root element for scrollable items */
.scrollable-items {
    position: absolute;
    /* this time we have very large space for height */
    height: 20000em;
    margin: 0px;
}

/* Navigation buttons */
/* prev, next, prevPage and nextPage buttons */
.scrollable-browse-up,
.scrollable-browse-down {
    display: block;
    width: 30px;
    height: 30px;
    margin: 10px 85px;
    cursor: pointer;
    font-size: 1px;
    background: url(/Content/vert_large.png) no-repeat;
}

.scrollable-browse-up.disabled,
.scrollable-browse-down.disabled {
    visibility: hidden;
}

/* up and down */
.rightFrame .scrollable-browse-up,
.rightFrame .scrollable-browse-down {
    margin: 10px 85px;
}

/* up */
.scrollable-browse-up:hover {
    background-position: -30px 0;
}

.scrollable-browse-up:active {
    background-position: -60px 0;
}

/* down */
.scrollable-browse-down {
    background-position: 0 -30px;
}

.scrollable-browse-down:hover {
    background-position: -30px -30px;
}

.scrollable-browse-down:active {
    background-position: -60px -30px;
}