@media all and (min-width: 1024px) {
  .search-album-release-date-column {
    width: 220px;
  }
}
@media all and (min-width: 1680px) {
  .search-tags-column {
    width: 340px;
  }
}
.search-advanced-filters-list {
  margin-top: 5px;
}
.search-advanced-filters-list span {
  line-height: 22px;
  margin-right: 5px;
}