
<!-- binding context: ArtistRolesEditViewModel -->

<div data-bind="dialog: {autoOpen: false, modal: true, width: 550 }, dialogButtons: [{ text: '@ViewRes.SharedStrings.Save', click: save }], dialogVisible: dialogVisible" 
     style="display:none;" title="Customize artist name">
	
	<div data-bind="if: artistLink() && artistLink().artist">
		<label>Default name</label>
		<span>{{artistLink().artist.name}}</span>
		<br /><br />
	</div>
	
	<div class="input-append">
		<label>Custom name</label>
		<input type="text" maxlength="255" textInput="{{name}}"/>
		<button class="btn" click="{{name(null)}}">Reset</button>
	</div>

</div>
