<!-- binding context: EnglishTranslatedStringEditViewModel -->

<div>
	<h4 data-bind="visible: showTranslation">Original</h4>
	<textarea rows="8" cols="70" class="span5" data-bind="value: original"></textarea>
	<a href="#" class="textLink addLink" data-bind="visible: !showTranslation(), click: function() { showTranslation(true); }">Add English translation</a>
</div>
<div>
	<h4 data-bind="visible: showTranslation">English translation</h4>
	<textarea rows="8" cols="70" class="span5" data-bind="value: english, visible: showTranslation"></textarea>
</div>

