@using Res = ViewRes.Search.IndexStrings;

@{
	var selections = new[] { 10, 20, 40, 100 };
}

<div class="dropdown pull-right">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
		@Html.Raw(string.Format(ViewRes.Search.IndexStrings.ShowingItemsOf, "<span data-bind='text: paging.pageSize'></span>", "<span data-bind='text: paging.totalItems'></span>"))		
	</a>
	<ul class="dropdown-menu">
		@foreach (var selection in selections) {
			<li><a data-bind="click: function() { paging.pageSize(@selection); }" href="#">@string.Format(Res.ItemsPerPage, selection)</a></li>
		}
	</ul>
</div>