@using Res = ViewRes.Search.IndexStrings;

<div class="dropdown pull-right">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
		@Html.Raw(string.Format(ViewRes.Search.IndexStrings.ShowingItemsOf, "<span data-bind='text: paging.pageSize'></span>", "<span data-bind='text: paging.totalItems'></span>"))		
	</a>
	<ul class="dropdown-menu">
		<li><a data-bind="click: function() { paging.pageSize(10); }" href="#">@string.Format(Res.ItemsPerPage, 10)</a></li>
		<li><a data-bind="click: function() { paging.pageSize(20); }" href="#">@string.Format(Res.ItemsPerPage, 20)</a></li>
		<li><a data-bind="click: function() { paging.pageSize(40); }" href="#">@string.Format(Res.ItemsPerPage, 40)</a></li>
	</ul>
</div>