@*<span class="about-disclaimer">Background illustration by <a href="https://www.pixiv.net/member_illust.php?mode=medium&illust_id=39733249">火神レオ</a> | <a href="https://code.google.com/p/vocadb/">Other credits</a></span>*@
<span class="about-disclaimer">
	<a href="https://piapro.jp/t/nire">@string.Format(ViewRes._LayoutStrings.BackgroundCredit, "みゆ")</a>
	|
	<a href="https://github.com/VocaDB/vocadb/">@ViewRes._LayoutStrings.OtherCredit</a>
	|
	<a href="https://wiki.vocadb.net/wiki/29/license">@ViewRes._LayoutStrings.License</a>
	|
	<a href="https://wiki.vocadb.net/wiki/50/privacy-and-cookie-policy">@ViewRes._LayoutStrings.PrivacyPolicy</a>
</span>

