@inherits VocaDb.Web.Code.VocaDbPage

<p>
	<small>
		@BrandableStrings.Layout.PaypalDonateTitle
	</small>
</p>

<a href="@Config.SiteSettings.PatreonLink" target="_blank">
	<img src="@Url.Content("~/Content/patreon.png")" alt="Support on Patreon" title="Support on Patreon" />
</a>

