<!-- binding context: SongListPlayListViewModel -->

<div data-bind="with: pvPlayerViewModel" class="songlist-playlist-player">
	<div data-bind="if: selectedSong() && selectedSong().song">

		<h4>
			<span data-bind="text: selectedSong().song.name"></span>
			<span class="songlist-playlist-player-artists" data-bind="text: selectedSong().song.artistString"></span>
		</h4>

		<div id="pv-player-wrapper" data-bind="html: playerHtml"></div>

		<a class="btn" data-bind="click: $parent.nextSong, css: { disabled: $parent.paging.totalItems() == 0 }" title="Next song">
			<i class="icon-step-forward noMargin"></i>
		</a>

		<a class="btn" data-bind="click: function() { autoplay(!autoplay()); }, css: { active: autoplay }">
			Autoplay (Youtube and SoundCloud)
		</a>

		<a class="btn btn-info song-info pull-right" data-bind="attr: { href: vdb.utils.EntryUrlMapper.details('Song', selectedSong().song.id) }">
			<i class="icon icon-info-sign"></i>
			@ViewRes.Home.IndexStrings.ViewSongInfo
		</a>
	</div>
</div>

<div class="songlist-playlist-songs-wrapper">
	<table class="table table-condensed songlist-playlist-songs" data-bind="scrollEnd: scrollEnd">
		<tbody data-bind="foreach: page">
			<tr data-bind="css: { active: ($parent.pvPlayerViewModel.selectedSong() && $parent.pvPlayerViewModel.selectedSong().song.id == song.id) }, click: $parent.pvPlayerViewModel.selectedSong">
				<td style="width: 30px;">
					<a data-bind="visible: song.thumbUrl, attr: { href: vdb.utils.EntryUrlMapper.details('Song', song.id), title: song.additionalNames }" href="#">
						<img data-bind="attr: { src: song.thumbUrl }" title="Cover picture" class="coverPicIcon img-rounded" />
					</a>
				</td>
				<td>
					<a data-bind="text: name, attr: { href: vdb.utils.EntryUrlMapper.details('Song', song.id), title: song.additionalNames }" href="#"></a>
				</td>
				<td>
					<span data-bind="songTypeLabel: song.songType"></span>					
				</td>
				@*<td>
				<small class="extraInfo" data-bind="text: song.artistString"></small>
			</td>*@
				<td>
					<span data-bind="visible: song.lengthSeconds, text: $parent.formatLength(song.lengthSeconds)"></span>
				</td>
			</tr>
		</tbody>
	</table>
</div>