
<!-- Viewmodel: TagFilters -->

<!-- ko foreach: tags -->
	<div class="control-group">
		<div style="display: inline-block;" class="input-append input-prepend">
			<a href="#" class="btn btn-nomargin" data-bind="attr: { href: vdb.utils.EntryUrlMapper.details_tag(id, urlSlug()) }">
				<i class="icon icon-info-sign"></i>
			</a>
			<div class="input-append">
				<input type="text" class="input-large" readonly data-bind="value: name" />
				<button type="button" class="btn btn-danger" data-bind="click: function() { $parent.tags.remove($data); }">Clear</button>
			</div>
		</div>
	</div>
<!-- /ko -->
