@using VocaDb.Web.Helpers
@using VocaDb.Web.Models.Shared.Partials.Song
@model VocaDb.Model.DataContracts.Songs.SongContract

<div style="float:left;">
	<partial name="Partials/Song/_SongIconLink" model="@(new SongIconLinkViewModel(Model))" />
</div>
<br />
<small>@Model.ArtistString (@Translate.SongTypeNames[Model.SongType])</small>
