@using VocaDb.Model.Domain.Images;
@using VocaDb.Web.Helpers;
@using VocaDb.Web.Models.Shared.Partials.Album;
@model AlbumIconLinkViewModel

<a href="@Url.Action("Details", "Album", new { id = Model.Album.Id })">
	<img src="@Url.ImageThumb(Model.Album, ImageSize.TinyThumb)" alt="Cover" class="coverPicThumb" />
</a>