.card {
	height: 100%;
}

.image {
	height: 100%;
	width: 100%;
	aspect-ratio: 16/9;
	object-fit: cover;
}

.contentStack {
	justify-content: space-between;
	flex: 2;
}

.textSectionWrapper {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
}

