@model VocaDb.Web.Controllers.OEmbedParams

<span style="display:inline-block;width:100%;max-width:@(Model.Width)px">
	<span style="display:block;overflow:hidden;position:relative;padding-bottom:56.25%">
		<iframe src="@Model.Src" width="@Model.Width" height="@Model.Height"></iframe>
	</span>
</span>
