@using VocaDb.Web.Models.Shared.Partials.Activityfeed
@model VocaDb.Model.DataContracts.Activityfeed.ActivityEntryForApiContract[]

@{
	PageProperties.Title = "New activity by followed artists";
}

<ul class="nav nav-pills">
	<li>
		<a asp-action="Index">@("All activity")</a>
	</li>
	<li class="active">
		<a asp-action="FollowedArtistActivity">@("Only followed artists")</a>
	</li>
	<li>
		<a asp-action="Index" asp-controller="Comment">@("Comments")</a>
	</li>
</ul>

@foreach (var entry in Model) {
	<partial name="Partials/Activityfeed/_ActivityEntry" model="@(new ActivityEntryViewModel(entry))" />
}
