@using VocaDb.Web.Helpers
@inherits VocaDb.Web.Code.VocaDbPage<VocaDb.Model.DataContracts.Versioning.ArchivedVersionForReviewContract[]>

@{
	PageProperties.Title = "Recent activity";
	var lastEntryDate = (DateTime?)ViewBag.LastEntryDate;
}

<ul class="nav nav-pills">
	<li>
		@Html.ActionLink("All activity", "Index")
	</li>
	<li class="active">
		@Html.ActionLink("Detailed", "Detailed")
	</li>
	@if (Login.IsLoggedIn) {
	<li>
		@Html.ActionLink("Only followed artists", "FollowedArtistActivity")
	</li>	
	}	
</ul>

<input type="hidden" id="lastEntryDate" value='@(lastEntryDate != null ? lastEntryDate.Value.ToString("u") : "null")' />

<div id="entries">
	@{ Html.RenderPartial("_DetailedPage", Model); }
</div>

<hr />
<h3>
<a href="#" id="loadMoreLink">View more</a>
</h3>

@section BodyScripts {
<script type="text/javascript">

	$(document).ready(function () {
		$("#loadMoreLink").click(function () {
			var date = new Date($("#lastEntryDate").val());
			var since = $("#lastEntryDate").val() ? date.toISOString() : null;
			$.get("DetailedPage", { since: since }, function (result) {
				$("#entries").append(result.viewHtml);
				$("#lastEntryDate").val(result.lastEntryDate);
			});
			return false;
		});
	});

</script>
}