@inherits VocaDb.Web.Code.VocaDbPage<VocaDb.Model.DataContracts.Tags.TagCategoryContract[]>

@{
    PageProperties.Title = ViewRes.SharedStrings.Tags;
}

@foreach (var category in Model) {

	if (category.Name != string.Empty) {
		<h3>@category.Name</h3>
	} else {
		<h3>@ViewRes.SharedStrings.Unsorted</h3>
	}
	
	foreach (var tag in category.Tags) {
		<span class="tag">
			@Html.ActionLink(tag.Name, "DetailsById", new { id = tag.Id, slug = tag.UrlSlug })
		</span>
	}
	<br /><br />
	
}