@using VocaDb.Web.Models.Shared.Partials.User;
@model IconAndLinkKnockoutViewModel

@* User icon inside anchor (no name) *@

<a data-bind="attr: { href: app.EntryUrlMapper.details_user_byName(@(Model.UserBinding + ".name")) }" class="pull-left">
	@UserHelpers.ProfileIconKnockout_ImageSize(VocaDb.Model.Domain.Images.ImageSize.Thumb, binding: Model.UserBinding, size: 70)
</a>