@using VocaDb.Web.Models.Shared.Partials.User
@model IconAndNameKnockoutViewModel

<partial name="Partials/User/_ProfileIconKnockout" model="@(new ProfileIconKnockoutViewModel(Model.IconBinding, Model.Size))" />
<span data-bind="text: @Model.NameBinding"></span>