@using VocaDb.Web.Models.Shared.Partials.User
@model ProfileIcon_IUserWithEmailViewModel

@if (Model.User != null && !string.IsNullOrEmpty(Model.User.Email)) {
	<div style="width: @(Model.Size)px; height: @(Model.Size)px; display: inline-block">
		@Gravatar.GetHtml(Model.User.Email, Model.Size, scheme: "https")
	</div>
}