@using VocaDb.Web.Models.Shared.Partials.User;
@model ProfileIconViewModel

@if (!string.IsNullOrEmpty(Model.Url)) {
	<div style="width: @(Model.Size)px; height: @(Model.Size)px; display: inline-block">
		<img src="@Model.Url" alt="Icon" />
	</div>
}