@using VocaDb.Web.Helpers;
@using VocaDb.Web.Models.Shared.Partials.User;
@model UserIconLink_IUserWithEmailViewModel

<a href="@Url.UserDetails(Model.User)">@UserHelpers.ProfileIcon_IUserWithEmail(Model.User, Model.Size)<span>@(Model.User != null ? Model.User.Name : "")</span></a>