@using VocaDb.Model.Service.Search
@using Res = ViewRes.Search.IndexStrings

<!-- Artist search options -->
<div data-bind="visible: showArtistSearch, with: artistSearchViewModel">
	<div class="control-group">
		<div class="control-label">@Res.ArtistType</div>
		<div class="controls">
			@ArtistHelpers.ArtistTypesDropdownKnockout("artistType")
		</div>
	</div>
	
	<div class="control-group">
		<div class="control-label"></div>
		<div class="controls">
			@SearchHelpers.AdvancedFilters(AdvancedSearchFilters.ArtistFilters)
		</div>
	</div>
</div>
