@using VocaDb.Web.Helpers
@using VocaDb.Web.Resources.Domain
@using Res = ViewRes.Search.IndexStrings;

<!-- Event search options -->
<div data-bind="visible: showEventSearch, with: eventSearchViewModel">
	<div class="control-group">
		<div class="control-label">@Res.EventCategory</div>
		<div class="controls">
			<div class="input-append">
				@KnockoutHelpers.DropdownList(Translate.ReleaseEventCategoryNames.ValuesAndNamesStrings, "category")
			</div>
		</div>
	</div>
		
	<div class="control-group">
		<div class="control-label">@EntryTypeNames.Artist</div>
		<div class="controls" data-bind="with: artistFilters">
			@KnockoutHelpers.ArtistFilters(artistParticipationStatus: false)
		</div>
	</div>
</div>
