
<!-- binding context: ArtistRolesEditViewModel -->

<div data-bind="dialog: {autoOpen: false, modal: true, width: 550 }, dialogButtons: [{ text: '@ViewRes.SharedStrings.Save', click: save }], dialogVisible: dialogVisible" 
	 style="display:none;" title="@ViewRes.Album.EditStrings.ArtistRolesTitle">

	<div data-bind="foreach: roleSelections">
		<span class="tag">
			<input type="checkbox" data-bind="id: 'artistRole_' + id, jqButtonset: selected" class="jqButton" />
			<label>
				<span data-bind="text: name"></span>
			</label>
		</span>
	</div>

</div>
