@using VocaDb.Web.Models.Shared.Partials.Comment
@model CommentWithEntryVerticalViewModel

<div class="card card-transparent">
	<partial name="Partials/Comment/_CommentEntryItem" model="@(new CommentEntryItemViewModel(Model.Entry.Entry))" />
	@foreach (var comment in Model.Entry.Comments)
	{
		<partial name="Partials/Comment/_PrintComment" model="@(new PrintCommentViewModel(comment, false, maxLength: Model.MaxLength))" />
		if (comment != Model.Entry.Comments.Last())
		{
			<hr />
		}
	}
</div>