@using VocaDb.Web.Models.Shared.Partials.Comment;
@model CommentBodyEditableKnockoutViewModel

<div data-bind="visible: $parent.editCommentModel() !== $data">
	@Html.Partial("Partials/Comment/_CommentBodyKnockout", new CommentBodyKnockoutViewModel(Model.MessageBinding))
</div>
<form data-bind="visible: $parent.editCommentModel() === $data, submit: $parent.saveEditedComment">
	<textarea data-bind="textInput: editedMessage" rows="6" cols="60" maxlength="3000" class="comment-text-edit" required></textarea>
	<button type="submit" class="btn btn-primary">@ViewRes.SharedStrings.Save</button>
	<button data-bind="click: $parent.cancelEditComment" class="btn">@ViewRes.SharedStrings.Cancel</button>
</form>