@using VocaDb.Model.Domain.Security;
@using VocaDb.Web.Models.Shared.Partials.Comment;
@inherits VocaDb.Web.Code.VocaDbPage

<h3 class="withMargin">@ViewRes.EntryDetailsStrings.LatestComments</h3>
<div data-bind="with: comments">
	@{ Html.RenderPartial("Partials/Comment/_EditableComments", new EditableCommentsViewModel(UserContext.HasPermission(PermissionToken.CreateComments), well: false, commentsBinding: "topComments", newCommentRows: 3, pagination: false)); }
	<!-- ko ifnot: comments().length -->
	<p>@ViewRes.EntryDetailsStrings.NoComments</p>
	<!-- /ko -->
</div>
