@inherits VocaDb.Web.Code.VocaDbPage

@{
    PageProperties.Title = "IRC chat";
}

<iframe src="https://kiwiirc.com/client/@Config.SiteSettings.IRCUrl" style="border:0; width:100%; height:600px;"></iframe>

<br /><br />
For other clients, use the address <a href="irc://@Config.SiteSettings.IRCUrl">irc://@Config.SiteSettings.IRCUrl</a>.