@*
	Binding context: SongInAlbumEditViewModel.
*@

<tr class="ui-state-default">
	<td style="cursor: move">
		<span class="ui-icon ui-icon-arrowthick-2-n-s"></span>	
	</td>
	<td>
		<input type="checkbox" data-bind="checked: selected, visible: !isCustomTrack" />
	</td>
	<td>
		<span data-bind="text: discNumber"></span>
	</td>
	<td>
		<span data-bind="text: trackNumber"></span>
	</td>
	<td>
		<a data-bind="text: songName, attr: { title: songAdditionalNames }, click: $parent.editTrackProperties, visible: !isCustomTrack" href="#"></a>
		<span data-bind="text: songName, visible: isCustomTrack"></span>
		<br />
		<span data-bind="text: artistString" class="extraInfo"></span>
	</td><td>
		<input type="checkbox" data-bind="checked: isNextDisc" />
		@ViewRes.Album.EditStrings.TrNextDisc
	</td><td>
	    <span data-bind="if: songId">
			<a data-bind="attr: { href: vdb.utils.EntryUrlMapper.details('Song', songId) }" href="#" target="_blank" title="Open for edit" class="iconLink editLink">@ViewRes.SharedStrings.Edit</a>			     
	    </span>     
		<a data-bind="click: $parent.removeTrack" href="#" class="iconLink removeLink" title="Remove from album">@ViewRes.SharedStrings.Remove</a>
	</td>
</tr>