@using VocaDb.Model.DataContracts;
@using VocaDb.Web.Models.Shared.Partials.EntryDetails;
@using VocaDb.Web.Models.Shared.Partials.Shared;
@model DeletedBannerViewModel

<div class="alert">
	@Resources.CommonMessages.EntryDeleted
	@if (Model.MergedTo != null)
	{
		@(Resources.CommonMessages.EntryMergedTo + " ")
		@Html.Partial("Partials/Shared/_EntryLink", new EntryLinkViewModel(new EntryBaseContract(Model.MergedTo)))
		@(".")
	}
</div>