@inherits VocaDb.Web.Code.VocaDbPage

@{
	PageProperties.Title = "Statistics / Reports";
}

<select data-bind="foreach: categories, value: selectedReport" class="input-large">
	<optgroup label="NA" data-bind="attr: { label: name }, foreach: reports">
		<option data-bind="text: name, value: $data"></option>
	</optgroup>
</select>

<div id="chartContainer"></div>

@section BodyScripts {
	<script src="http://code.highcharts.com/highcharts.js" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/ViewModels/StatsViewModel.js")" type="text/javascript"></script>

	<script type="text/javascript">

		$(function () {

			var vm = new vdb.viewModels.StatsViewModel();

			vm.chartData.subscribe(function(data) {
				$('#chartContainer').highcharts(data);
			});

			ko.applyBindings(vm);

		});

	</script>

}
