.button {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.image {
	transition: all 0.5s ease;
	display: block;
	margin-left: auto;
	margin-right: auto;
	@mixin hover {
		transform: scale(1.1);
	}
}

