body {
	font-size: 80%;
	font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
	background: url(/miku-pride-v3.webp) top left no-repeat fixed #001155;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}
