@using VocaDb.Web.Helpers;
@using R = ViewRes.DiscussionContentStrings
@model VocaDb.Model.DataContracts.CommentContract[]

@if (Login.CanManageDb) {
<div id="newCommentPanel">
	@Html.TextArea("newCommentMessage", string.Empty, 6, 60, new { id = "newCommentMessage", maxlength = 800, @class = "span5", placeholder = R.NewComment })
	<a href="#" class="textLink addLink" id="createComment">@R.AddComment</a>
	<hr />
</div>
}

@foreach (var comment in Model) {
	Html.RenderPartial("Comment", comment);
}