@model VocaDb.Model.DataContracts.EntryRefWithCommonPropertiesContract[]

<div class="alert">
	<p>
		@{ Html.RenderPartial("Partials/Shared/_NotificationIcon"); }
		@ViewRes.EntryCreateStrings.FoundPossibleDuplicates
		<ul>
		@foreach (var e in Model) {
			<li>@Helpers.EntryLink(e) (@e.EntryTypeName)</li>
		}
		</ul>
	</p>
</div>