@using System.Web.Http
@using VocaDb.Web.Areas.HelpPage.Models
@model HelpPageApiModel

@{
    var description = Model.ApiDescription;
    ViewBag.Title = description.HttpMethod.Method + " " + description.RelativePath;
}

<div id="body" class="span12 help-page">
    <section class="featured">
        <div class="content-wrapper">
			<ul class="breadcrumb">
				<li>@Html.ActionLink("Help Page Home", "Index") <span class="divider">/</span></li>
				<li class="active">@ViewBag.Title</li>
			</ul>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @Html.DisplayForModel()
    </section>
</div>
