@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using VocaDb.Web.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
	ViewBag.Title = "VocaDB Web API Help Page";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<div id="body" class="span12 help-page">
	<header class="help-page">
		<div class="content-wrapper">
			<div class="float-left">
				<h1>@ViewBag.Title</h1>
			</div>
		</div>
	</header>
    <section class="featured">
        <div class="content-wrapper">
			<div class="clearfix">
				<div class="api-miku">
					<a href="@Url.Action("Details", "Tag", new { Id = "Appearance_Miku", Area = "" })">
						<img src="http://vocadb.net/EntryImg/Tag/23-st.jpg" alt="ApiMiku" title="ApiMiku" />
					</a>
				</div>
				<p><a href="https://github.com/riipah/vocadb/wiki/Public-API">General API usage guidelines</a>.</p>
			</div>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>
