@using VocaDb.Web.Helpers
@inherits VocaDb.Web.Code.VocaDbPage

@{
    PageProperties.Title = "サポート / DBについて";
	var contributors = new[] {
		"digited", "Zakudono", "salanos", "kyllakivi", "Goship", "mi.chan", "gaminat", "Wiktor", "Shiroizu", "Ota-kun", "Hissori", "nebulasresolution", "megaki11"
	};
}

<div id="tabs">

	<ul>
		<li><a href="#aboutvocadb">VocaDBについて</a></li>
		<li><a href="#aboutvocaloid">VOCALOIDとは</a></li>
		<li><a href="#guidelines">ガイドライン</a></li>
	</ul>

	<div id="aboutvocadb">
		<h4 id="vocadbdescription">VocaDBとは</h4>
			<p>Vocaloid Database (VocaDB／VOCALOIDデータベース) は"VOCALOIDの曲やアルバム、アーティストに特化した総合情報源となることを目指しています。</p>
			<p>wiki、ブログ、フォーラムは、言語の異なる様々なウェブサイトに散在／増殖する楽曲・プロデューサー・サークル・VOCALOID-PV・関連する情報を管理し効率的に検索したり、それらを蓄えておくには適していません。</p>
			<p>VocaDBは、VOCALOID音楽に関する情報のための独自のシステムとして、また（MikuDBやVocaloid Wikiのように）他のウェブサイトへサービスを提供するものとして生み出されました。</p>
			
		<br />
		<h4 id="vocadbfeatures">このサイトでVOCALOIDの曲をダウンロード出来ますか？</h4>
			<p>いいえ、VocaDBには音楽ファイルは置いていませんし、ダウンロードリンクも提供していません。</p>
			<p>詳しくはガイドラインを御覧下さい。</p>
			
		<br />
		<h4 id="whatCanIDo">このサイトで何が出来ますか？</h4>
			<p>VOCALOID曲、プロデューサー、サークル、PV、歌詞の検索が出来ます。</p>
			<p>また、このサイトに登録しアカウントを取得すれば（無料で簡単に行えます）以下のことが出来るようになります。</p>
			<ul>
				<li>表示言語や日付の表示形式を変更</li>
				<li>VocaDBに情報を書き込むこと</li>
				<li>登録されている曲をお気に入りや曲リストに追加すること</li>
				<li>VOCALOIDアルバムのコレクションリストを作ること</li>
				<li>意見交換に参加すること</li>
				<li>アルバム・アーティスト・曲にタグを付けること</li>
				<li>他</li>
			</ul>
		
		<br />
		<h4 id="contribute">情報の誤りを報告するには、情報を追加するにはどうすれば良いですか？</h4>
		<p>
			もしデータベースに存在する情報に誤りや不足が有ったら、レポート機能を使用して管理スタッフに知らせることが出来ますが、あなた自身がアカウントを取得して修正した方が良いでしょう。サイトの技術的な問題が生じた場合は管理スタッフに御連絡下さい。
		</p>
			
		<h4 class="withMargin">For artists and other content creators</h4>
		<p>
			Are you a producer, illustrator, animator, or some other content creator working with Vocaloid/UTAU music or videos?
			If you have published any songs/videos on services like NicoNicoDouga, Youtube or SoundCloud, we welcome you to add an entry for yourself (and your circle) to our database.
			First make sure that your entry hasn't already been added by someone else.
			After your entry has been added, you can submit an <a href="@Url.Action("RequestVerification", "User")">account verification request</a>, which allows you to be marked as the legitimate owner of that entry.
		</p>

		<br />
		<h4 id="vocadbmetadata">他のサイトでVocaDBからの情報を使用しても良いですか？</h4>
		<p>はい。VocaDBは他の同種のサービスにも情報を提供しやすいように作られています。詳しくは開発者にお問い合わせ下さい</p>
			
		<br />
		<h4 id="staff">運営・管理スタッフ</h4>
        <p>Major contributors: @Html.LinkList(contributors, u => Html.ActionLink(u, "Profile", "User", new { id = u }, null)).</p>
        <p>Japanese translation by <a href="http://www.youtube.com/watch?v=6Z73O2WH2jw">Japanese Ninja No.1</a>.</p>

		<br />
		<h4 id="contactus">お問い合わせ</h4>
			<a href="mailto:support@vocadb.net" title="">support@vocadb.net</a><br />
			<a href="http://www.vocaloidotaku.net/index.php?/topic/25685-vocadb-vocaloid-database" title="">Discussion thread at VocaloidOtaku</a><br />
			<a href="http://code.google.com/p/vocadb" title="">Google code</a><br />
		<br />
		<br />
		<span class="about-disclaimer">Background illustration by <a href="http://www.pixiv.net/member_illust.php?mode=medium&illust_id=34786809">みゆ</a>  |  VocaDB interface is powered by <a href="http://jquery.com/" title="">jQuery</a> and <a href="http://jqueryui.com" title="">jQuery UI</a></span>
	</div>

	<div id="aboutvocaloid">
		<iframe class="aboutvocaloid-ytiframe" width="560" height="315" src="http://www.youtube.com/embed/VOE03b4XPNE" frameborder="0" align="right" allowfullscreen></iframe>
		<h4 id="vocaloidlinks">VOCALOIDとは</h4>
			<a href="http://en.wikipedia.org/wiki/Vocaloid" title="">Wikipedia article</a><br />
			<a href="http://vocaloid.wikia.com/wiki/Vocaloid_Wiki" title="">Vocaloid wiki</a><br />
			<br />
			<a href="http://deliciouscakeproject.wordpress.com/2010/09/20/hatsune-miku-and-the-magic-of-make-believe/" title="">Delicious Cake Project</a><br />
		<h4 id="vocaloiddescription">概要</h4>
			<p>“VOCALOID”とは、人の歌声を再現するシンセサイザー及びそれらに付随するイメージキャラクターを元に、ユーザーが様々な創作（楽曲、イラスト、動画、ソフト、ゲーム、コスプレ、イベント）を行い作り上げたユニークな文化です。</p>
			<p>VOCALOID（シンセソフト）は人の歌声を作り出すことが出来るソフト音源です。つまり、誰にでも専属のバーチャルシンガーが持てるということです。</p>
			<p>最初のVOCALOIDシンガーは2004年に発売された英語のシンガー“LEON”と“LOLA”でしたが、売り上げは振るいませんでした。VOCALOIDの技術が広く世に知られるようになったのは2007年、日本語ライブラリの“初音ミク”（日本では初、世界では“Sweet Ann”に次いで二番目のVOCALOID2製品）が日本で発売されてからのことです。</p>
			<p>魅力的なパッケージイラストとそれにぴったりな歌声の、最高且つ新鮮なコンビネーションによって、“初音ミク”は予想を上回る空前の大ヒット商品となり、VOCALOID技術・文化の代名詞となったのでした。</p>
		<h4 id="whyjapan">日本でVOCALOIDが根付いた背景</h4>
			<ul type="circle">
				<li>日本語は音声の合成において最もシンプルな言語――日本語は音節ベースの音声で、アクセントが無く、詩における韻の概念が無いこと</li>
				<li>“萌え”要素を取り入れたアニメキャラのスタイルが浸透していること</li>
				<li>同人活動が盛んであること</li>
				<li>甲高い女声ボーカルに馴染みがあること</li>
				<li>多種多様で活発な音楽シーンと多くのインディーズアーティストが存在すること</li>
				<li>アニメにおける仮想ポップアイドルの概念（シャロン・アップル『マクロスプラス』／1994年）</li>
			</ul>
			<p>日本は偶然にもVOCALOIDがブレイクするのに最も適した国だったのです。</p>
		<h4 id="vocaloidfeatures">VOCALOIDの特徴</h4>
			<ul type="circle">
				<li>VOCALOIDのソフトは楽器として扱われ、どんな目的にも自由に使うことが出来ます。</li>
				<li>クリプトン・フューチャー・メディア株式会社のピアプロ・キャラクター・ライセンスはキャラクター画像の非営利使用を許可しています。</li>
				<li>全てのコンテンツ（楽曲・動画・イラスト等）は誰に強制されたわけでもなく、ユーザー達がそれぞれの目的（娯楽・自己表現・販売等）のために自分自身で創ったものです。</li>
				<li>作詞作曲家、ミュージシャン、イラストレーター、アニメーター、プログラマー等のコラボレーション。</li>
				<li>VOCALOIDとプロデューサーのセルフプロモーション。基本的にはコミュニティがミクを選び彼女を有名にしました（GUMIも同様）。</li>
				<li>音楽を共有し、本源を支えること。殆どのVOCALOID曲や動画はニコ動、ピアプロ、YouTubeで無料で視聴出来、更に私達はアルバムを購入することでアーティストを支援することも出来ます。それは日本以外に住む人にも可能で、実際行われていることです。楽器やハード・ソフト、そしてその扱いを習得するには多くのコストが掛かり、また、プロデューサーの多くはインディーズで、CDの売り上げは彼らにとって重要です。もしあなたが本当にVOCALOIDプロデューサー達による音楽が好きであるなら、どうか彼らを支えて下さい。</li>
				<li>コンサートがあります。</li>
			</ul>
		<h4 id="vocaloidpv">PV</h4>
			<p>PVは楽曲の一部となってリスナーをVOCALOID曲に引き込むために使用され、またPV自体の芸術性もVOCALOID文化の一端を担っています。</p>
			<p>日本の<a href="http://www.nicovideo.jp/">ニコニコ動画</a>はVOCALOID楽曲・動画を投稿するのに利用され、またコンサートやイベント等の配信を行い、日本におけるVOCALOIDの一般化に大きく貢献しました。</p>
		<h4 id="ytnndsoundquality">YouTubeとニコニコ動画の音質</h4>
			<p>ニコニコ動画には MP3 CBR 64 kbps（エコノミー）からAAC VBR ~370 kpbsまで、様々な音質のファイルがありますが、概してYouTube（多くはAAC VBR ~128 kbps）より高音質です（解像度は同程度）。</p>
		<h4 id="vocaloidmmd">MMD</h4>
			<p><a href="http://en.wikipedia.org/wiki/MikuMikuDance">MikuMikuDance</a>は樋口M氏が制作したVOCALOID PVに使えるフリーで高性能な人気の3Dアニメソフトです。</p>
			<p>MMDは初音ミクの成功の一因であり、MMD自体もMMD杯が開催されたり東方・アイマス等の動画制作に用いられるなど、一つの文化を形成しています。</p>
		<h4 id="vocaloidp">プロデューサー</h4>
			<a href="http://vocaloid.wikia.com/wiki/Category:Producer" title="">Vocaloid Wikiでの説明</a>
			<p>"プロデューサー"とはVOCALOIDに関連するオーディオビジュアル――多くはオリジナル曲やPV――を制作する人を指す言葉です。</p>
		<h4 id="vocaloidcircle">サークルとレーベル</h4>
			<p>同人サークルとはコミケやボーマスのような同人イベントで一般のレーベルの様に作品を自主販売する制作者達のグループです。</p>
			<p>レコードレーベルとはプロのスタジオサービス（楽器、レコーディング、マスタリング）とCDの様々なプロモーションや著作権保護を提供するものです。VOCALOIDのレーベルとして最もよく知られているものには、クリプトン・フューチャー・メディア株式会社による<a href="http://karent.jp/">“KarenT”</a>があります。</p>
	</div>
	
	<div id="guidelines">
		<h3 id="glmain">General principles</h3>
			<ul>
				<li>既にデータベースに存在する事柄を新規に登録することは避けて下さい。同じ物について複数の項目が出来てしまっている場合はスタッフが削除あるいは一つの項目に統合します。</li>
				<li>完成もしくは承認された（下書きの状態ではない）記事を編集する際は、あなたがそれに手を加える適切な理由が有るのか、よく考えて下さい。そして、敢えて手を加える理由が誰の目にも明らかな場合を除いて、なるべく記事を編集した理由をはっきり示して下さい。</li>
				<li>これはVOCALOIDに関連するコンテンツのためのデータベースです。UTAUやVOCALOIDの関わるコラボレーションは承認されますが、全くVOCALOIDに関係の無いコンテンツは削除されます。</li>
				<li>有用な情報をもたらさない不正なファイル共有サイト（例：Mediafire、Megaupload、Torrents）へのダウンロードリンクを貼ることは“認められていません”。有益な情報源であるブログ、フォーラム、wiki等へのリンクは“認められています”。</li>
				<li>メディアファイル（mp3等）へ直接リンクすることは、それが公式・合法のものであっても基本的に認められていません。もし公式に楽曲や動画を配布しているのであれば、直リンクの代わりにそのアーティストの使用している正規のダウンロードページ（例：ピアプロ）へのリンクを貼って下さい。</li>
			</ul>

		<h4>どうすれば新しくアーティスト（プロデューサー）、アルバム、曲を追加出来るのですか？</h4>
		<p>このサイトに登録し、トップページ左のメニューにあるリンク、または「アーティスト」、「アルバム」、「曲」それぞれのリストページにあるボタンから追加出来ます。</p>

		<h4>名前と訳</h4>
		<p>
			全ての名前は第一にオリジナルの言語――多くの場合日本語で記載されているのでしょうが、例えば英語や韓国語の場合もあるでしょう。このデータベースには３つの言語オプションを用意してあります。：
		</p>
		<ul>
			<li>"英語以外の言語"はオリジナルのタイトルが英語とローマ字以外の全ての言語、例えば日本語等の場合に使用します。</li>
			<li>"ローマ字表記"は、どの国の人にも読めるようにオリジナルの名前をアルファベットで記すものです。</li>
			<li>"英語"は正式名が英語である場合や正式名の英訳が判っている場合に使用します。</li>
			<li>"不明な言語"は意味を持たない言葉や未知の言語に対応しています。不明な言語による名称は他の言語の名称が設定されている場合は項目名として表示されることはありません。</li>
		</ul>
		<p>
			If the original language is English, the name should be written to the English language field, otherwise it's written to the "Non-English" language field.
			If those names have commonly used romanizations or English translations, those can be entered as well to make it easier for the international audience to find
			and understand those names. Other names, for example translations to other languages, should be marked as "Unspecified" according to current rules.
			Sometimes an entry may have multiple names in one language, for example producer's real name and artist name. In this case the additional names can be marked as "Unspecified" so that they won't be used as display names regardless of user's display option.
		</p>
		<p>
			If the entry has multiple names in one language and it's not clear which one of those should be the primary one, you should refer to official information,
			such as product packaging. If the name in the album's cover doesn't conflict with the other rules on the site, that name should be preferred as the primary one.
			<br />
			However, keep in mind that sometimes the official information contains the same name in multiple languages, combined into one. In this case you should enter
			the name separately for each language. For example, if the song is uploaded to NicoNicoDouga with the name 秘密警察 - Himitsu Keisatsu, you should
			enter both names separately: 秘密警察 as Non-English and Himitsu Keisatsu as Romanized.
		</p>
		<p>
			Registered users can set their display language, so that they will always see the names in that language, if available.
			Unregistered users and users who haven't set their display language will see the original names, which may be either English or something else. 
			For example, if the non-English name of an artist is ナナホシ, the romanized name is nanahoshi and the default language option is "Original", then by default users will see ナナホシ unless they have chosen to prefer romanized names instead.
		</p>
		<p>Generally there is no need to add composite names, and those names should broken into separate fields.</p>
		<p><input type="text" class="incorrect-example-input"value="cosMo@Bousou-P(暴走P)" size="23" readonly="readonly" /> is incorrect: every field should contain only one name.</p>

		<h4>Entry statuses</h4>
		<p>
			Entries that are marked as drafts have missing or incomplete information. The draft status is indicated on the entry's page. 
			All entries should meet certain requirements before they can be marked as finished/completed. For now these requirements are only suggestions, but 
			in the future they may be enforced more strictly. Of course when editing an entry that meets these requirements,
			you can still mark it as draft if you feel that the entry needs further attention.
			<br /><br />
			After the entry has been finished it can be approved by a trusted user or staff member. Most properties of approved entries cannot be edited by users with
			normal permissions. Tags can still be edited by anyone and comments can be added. Trusted users are also able to change the status back from Approved to Finished or even Draft.
			<br />
			<b>A note for trusted users regarding entry approval: </b>You're encouraged to mark the entry as Approved when you've checked that all the necessary information is provided and
			it's correct. However, songs shouldn't be marked as approved until they have lyrics. When approving albums, make sure that ALL the artists have been added.
		</p>
		
		<br />
        <!-- Artists, producers and Vocaloids -->
		<h3 id="glproducers">アーティスト、プロデューサー、そしてVOCALOID</h3>

        <!-- Artist types -->
		<h4 id="glartisttypes">アーティストの種類</h4>
            <p>
			全てのアーティストは、彼もしくは彼女が作品の中で何の役割を担う人なのか判断するための分類がなされています。
            その役割はアルバムや曲ごとに違ってくる可能性は有りますが、多くの場合、アーティストは一つの役割に深く関わります。
            </p>
			<ul>
				<li>"プロデューサー" - 曲（VOCALOID曲の場合、通常はボーカルにVOCALOIDを使用します）を作る人。必ずしもオリジナルの作曲家とは限りません。</li>
				<li>"アニメーター" - 主にアニメーションPVを制作する人。</li>
				<li>"サークル" - 同人イベント(コミケやボーマス等)で自主出版・自主販売を行うグループ。</li>
				<li>"レーベル" - その他のアーティスト達のアルバムを出版する営利会社。</li>
				<li>"その他のグループ" - レーベルからアルバムをリリースするグループ。</li>
				<li>"その他のボーカル" - 人間のシンガー（ニコニコ動画における歌い手）。</li>
				<li>"その他の個人" - 作詞家やイラストレーターなど、その他の人々。</li>
			</ul>
        
        <!-- Artist pictures -->
        <h4>アーティスト画像</h4>
        <p>
            アーティストに画像を追加する時は、その画像が彼もしくは彼女の作品（曲）にではなくアーティスト自身に関連深いものを選ぶよう心掛けて下さい。アーティストの項目にアルバムのジャケット画像をアップロードしないこと。とは言え、アーティストのメイン画像を選ぶに当たって共通のルールがあるわけではありません。アーティスト自身の写真や公式ロゴが望ましいです。アーティストに十分関連する画像であればいくつ追加しても構いません。
            <br />
            画像の使用に問題がある場合は削除します。
            <br />
            もし適した画像が無ければ、アーティストの公式プロフィールにあるどんな画像でも――例えばツイッター等の画像でも可能です。
        </p>

        <h4>Should I create an entry for artist's personal circle?</h4>
        <p>
            Many Vocaloid artists have a personal band/circle through which they publish their albums. Often there are no other members in this circle.
            In this case it's not necessary to create a separate entry for that personal circle, but it's not wrong either, and might be a good idea
            if the artist has separate websites/blogs for himself and his circle. If there is no separate entry for the circle, the circle name
            can be included as an alias for that artist. In that case it would be advisable to mention this in the notes.
        </p>

        <!-- Completed artist entries should meet the following criteria: -->
		<h4>アーティストの項目が完成されるには、以下の基準を満たしていなければなりません：</h4>
		<ul>
			<li>アーティストは少なくとも一つは不明な言語によらない名前を持っていること</li>
			<li>アーティストの種類が“不明”ではないこと</li>
			<li>アーティストに説明、または一つ以上の外部リンク（wiki、ニコニコ動画のマイリスト等）が記載されていること</li>
		</ul>
		
		<br />
		<h3 id="glalbums">Albums</h3>
			<p>To assign producers and vocalists to songs in album, add artists to album first and then click on each added song in song list to show a quick selection dialog.</p>
			<p>Every album should be related to Vocaloid music by meeting one of following conditions:</p>
			<ul>
				<li>being done by a producer that created Vocaloid albums before</li>
				<li>having at least one song with synthesized vocal</li>
				<li>having at least one cover of an originally Vocaloid song</li>
			</ul>
			<p>Totally unrelated albums may be deleted from VocaDB.</p>

		<h4>Adding artists for albums</h4>
		<p>
			When linking artists to albums, at the very least you should add the responsible circle (usually there's only one) and vocalists.
			Invidividual producers and the associated record label (if any) can be added as well. At the moment all artist types may be linked to albums.
			<br />
			Sometimes it's necessary to credit people that aren't in the database, and it doesn't make sense to add an entry for them. 
			For example if the song in the database is a remix/cover and the original isn't a Vocaloid song, the original composer doesn't need to be added to the database, 
			but should be credited nevertheless.
			These "extra artists" can then be assigned into roles just like artists that are in the database. However, for all Vocaloid-related artists,
			it's necessary to create an entry for that artist.
		</p>

		<h4>Completed album entries should meet the following criteria:</h4>
		<ul>
			<li>The album has at least one name whose language option isn't "Unspecified".</li>
			<li>All artists responsible of the album are specified. Usually there should be at least one producer and one vocalist. Whenever it makes sense, each of those artists should have an entry in the database. If you can't locate some of the artists, please leave the entry as draft.</li>
			<li>Album type isn't "Unspecified". Try to find the correct type.</li>
			<li>The album has has at least a release year.</li>
			<li>The album has a complete tracklist.</li>
		</ul>
		
		<br />
		<h3 id="glsongs">Songs</h3>
			<p>Song entries contain information about authors and vocalists (see "Artists" tab), PVs and lyrics.</p>
			<p><input type="text" class="incorrect-example-input" value="『ミク×リン×レン』 ReAct 『オリジナル曲PV』" size="40" readonly="readonly" /> is incorrect: all additional info (vocalists, authors, PV) should be added to appropriate fields. A song title should contain nothing more than the name itself.</p>
			
		<h4>Adding artists for songs</h4>
		<p>
			Most Vocaloid songs have one producer and one or more vocalists (Vocaloids). 
			Circles and labels are generally NOT credited for individual songs, unless it's clear that the whole group worked on that song.
		</p>
		<p>
			When tagging Vocaloids you should use the information provided by the artist, not guess yourself. If the artist says the singer is Hatsune Miku, you should
			add Miku's original voicebank, even if you think the singer is actually an Append. Sometimes the artist says the singer is Append, but doesn't specify which Append.
			In that case you should choose Append (unknown). Do not guess unless you're sure.
		</p>
		<p>
			In the case of a remix or cover, the original composer/lyricist of the song does not need to be credited if the  
			original song is in the database.
			<br />
			If the original is a Vocaloid song, add the original song to the database and link the derived version to that original, 
			or if the original is not a Vocaloid song, add the composer as an "extra artist" (see album guide for more information).
			Remember to set the artist's role properly to Composer/Lyricist.
		</p>

		<h4>Song types</h4>
		<p>
			The most important distinction is between Original and others. Original always means that the song is completely original production.
			If the song uses material from existing sources, it's derived work and not original.
		</p>

		<h4 id="glpv">Song embeds and PVs</h4>
		<p>
			Songs may contain links to any number of embedded media files such as Promotional Videos (PVs) on NicoNicoDouga (NND), Youtube or Vimeo, or songs on SoundCloud, 
			provided that they're related to that song.<br />
			Very often Vocaloid artists themselves upload their songs to NND, and sometimes to Youtube/SoundCloud as well, in which case these uploads are called "original".
			Original uploads, if available, are highly preferred to any others.<br />
			If a PV made for a song is remarkable or well-known in some way, you're encouraged to create a separate entry for that PV and link it to the original song.
		</p>
		<ul>
			<li>"Original" - the first video with that song, usually uploaded by author himself (may lack any animation). There may be multiple Original PVs if all are uploaded by the producer.</li>
			<li>"Reprint" - should be identical to "Original"; most often it's a YouTube reprint of original NND video, uploaded by someone else than the artist.</li>
			<li>"Other" - any following PV with animation, MMD versions etc. May be much better known than original one.</li>
		</ul>

		<h4>Completed song entries should meet the following criteria:</h4>
		<ul>
			<li>The song has at least one name whose language option isn't "Unspecified".</li>
			<li>The song has at least one artist (usually there should be at least one producer and one vocalist).</li>
			<li>Song type isn't "Unspecified".</li>
		</ul>
		
		<br />
		<h3>Tags</h3>
		<p>
			Tags are free-form metadata that can be added to all entry types. Tags allow users to link entries together by any
			properties they can come up with, not being limited to the options provided by the system. Examples of tags
			are genres, presentation languages and themes. Tags can be edited more freely than other properties and some of them they may even be considered subjective.
			Therefore tags are based on voting. Any user may add tags to an entry and vote on existing tags. Only the most popular tags
			will be displayed for that entry.
		</p>
			
		<h4>What to tag then?</h4>
		<p>
			Generally you should avoid tagging with information that is already provided by more specialized
			fields. For example, albums or songs with artist names is redundant because the artists list already handles this better.
			Likewise, tagging cover songs with "cover" is useless if the song classification is already cover. Of course albums
			have no such classification, so that tag might be relevant for an album (or artist, if that artist is known for making covers).
		</p>

		<h4>Tags versus pools</h4>
		<p>
			Trusted users are able to create public songlists called pools. Pools can be used for largely the same purpose as tags, grouping
			songs together based on some common theme. There are a few differences between tags and songlists.
		</p>
		<ul>
			<li>Pools are not voted on, unlike tags. All pools are equal.</li>
			<li>Only trusted users are able to edit pools. Any user can vote on tags. Thus tags are easier to use, but also more unreliable.</li>
			<li>Pools may contain only songs. Tags can be applied to albums and artists as well.</li>
			<li>Songs in a pool can be ordered. Songs with a specified tag are unordered.</li>
			<li>You can add notes to songs in a pool.</li>
		</ul>
		
		<br />
		<h3>Other guidelines</h3>
		<ul>
			<li>Applies to trusted users: when merging duplicate entries, prefer merging the newer entry to the older one, unless the new entry is finalized while the older one is draft.</li>
			<li>
				The official language of the site is English. Please prefer using English for all information besides entry names. 
				For example when adding external links, the descriptions of those links should be in English.
				Other languages are allowed with a good reason, for example if a specific piece of information cannot be properly translated into English.
			</li>
		</ul>

	</div>
</div>

@section BodyScripts {
    <script type="text/javascript">

        function aboutvocadb() { $("#tabs").tabs("option", "active", 0); }
        function aboutvocaloid() { $("#tabs").tabs("option", "active", 1); }
        function guidelines() { $("#tabs").tabs("option", "active", 2); }

        $(function () {
            var tabs = $("#tabs").tabs();

            var hsh = window.location.search;
            var done = false;


            if (hsh.length > 3 && (hsh.indexOf("+") > 1)) {
                // 4 minimum chars in search str are "?a+b"
                var hsh_arr = hsh.substr(1).split('+', 2);
			
                if (hsh_arr[1].length > 0) {
                    switch (hsh_arr[0]) {
                    case 'vocadb':     aboutvocadb(); break;
                    case 'vocaloid':   aboutvocaloid(); break;
                    case 'guidelines': guidelines(); break;
                    default: break;
                    }

                    document.getElementById(hsh_arr[1]).scrollIntoView(); // TODO: check & highlight
                }
            }
        });

    </script>
}