@using VocaDb.Web.Helpers
@using rule = VocaDb.Model.Service.QueryableExtenders.EventSortRule;
@using Res = ViewRes.Event.EventsBySeriesStrings
@inherits VocaDb.Web.Code.VocaDbPage<VocaDb.Model.DataContracts.ReleaseEvents.ReleaseEventForApiContract[]>

@{
	PageProperties.Title = ViewRes.SharedStrings.ReleaseEvents;
}

@helper SortDirection(rule rule) {
	if (ViewBag.SortRule == rule) {
		<span class="sortDirection_down"></span>
	}
}

@section Toolbar {
	<ul class="nav nav-pills">
		<li class="active">
			@Html.ActionLink(Res.ViewList, "Index")
		</li>
		<li>
			@Html.ActionLink(Res.ViewBySeries, "EventsBySeries")
		</li>
		<li>
			@Html.ActionLink(Res.ViewByDate, "EventsByDate")
		</li>
	</ul>
}

@Helpers.EventThumbs(Model)

