@using VocaDb.Web.Models.Shared.Partials.Search;
@model AdvancedFiltersViewModel

<div class="btn-group">
	<button class="btn dropdown-toggle" data-toggle="dropdown">
		Advanced filters
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		@foreach (var filter in Model.Filters)
		{
			@Html.Partial("Partials/Search/_AdvancedFilter", new AdvancedFilterViewModel(filter.Item1, filter.Item2, filter.Item3, filter.Item4))
		}
	</ul>
</div>
<div data-bind="foreach: advancedFilters.filters" class="search-advanced-filters-list">
	<div class="label label-info" data-bind="click: function() { $parent.advancedFilters.filters.remove($data); }">
		<button type="button" class="close">×</button>
		<span data-bind="text: description"></span>
	</div>
</div>