@using VocaDb.Web.Models.Shared.Partials.Song;
@model PVPreviewKnockoutViewModel

<div data-bind="slideVisible: preview, complete: destroyPV" class="pvPreview" style="display: none;">
	<div data-bind="with: ratingButtons" class="pull-right">
		@{ Html.RenderPartial("Partials/_PVRatingButtonsForIndex"); }

		<!-- Binding context: SongWithPreviewViewModel -->
		@* PV service switcher *@
		<div class="btn-toolbar">
			<div class="btn-group">
				<div data-bind="visible: $parent.pvServices && $parent.pvServices.indexOf(',') > 0, foreach: @(Model.GetPvServiceIcons)($parent.pvServices)" class="pv-preview-services">
					<a class="btn" data-bind="click: function () { $parents[1].switchPV(service); }, attr: { title: service }, css: { active: service == $parents[1].pvService() }">
						<img data-bind="attr: { src: url }" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<div data-bind="html: previewHtml"></div>
</div>