@using VocaDb.Web.Models.Shared.Partials.Song;
@model SongListsKnockoutViewModel

<table class="table table-striped">
	<tbody data-bind="foreach: @Html.Raw(Model.Binding)">
		<!-- ko if: @(Model.GroupByYear ? "true" : "false") && $parent.isFirstForYear($data, $index()) -->
		<tr>
			<td colspan="3">
				<h3 class="song-list-year">{{ $data.eventDate | formatDate: 'YYYY' }}</h3>
			</td>
		</tr>
		<!-- /ko -->
		<tr>
			<td style="width: 75px">
				<a href="#" data-bind="visible: $data.mainPicture && mainPicture.urlSmallThumb, attr: { href: app.EntryUrlMapper.details('SongList', id) }">
					<img class="coverPicThumb" alt="Picture" data-bind="attr: { src: $data.mainPicture ? mainPicture.urlSmallThumb : '' }" />
				</a>
			</td>
			<td>
				<a href="#" data-bind="attr: { href: app.EntryUrlMapper.details('SongList', id) }">{{ name }}</a>
				<div visible="{{ $data.eventDate }}">
					<small>{{ $data.eventDate | formatDate: 'l' }}</small>
				</div>
			</td>
			<td data-bind="if: $parent.showTags() && $data.tags" class="search-tags-column">
				<div data-bind="visible: tags.length">
					<i class="icon icon-tags fix-icon-margin"></i>
					<!-- ko foreach: tags -->
					<a href="#" data-bind="text: tag.name, click: function() { $parents[1].selectTag(tag); return false; }"></a><span data-bind="visible: $data != _.last($parent.tags)">,</span>
					<!-- /ko -->
				</div>
			</td>
		</tr>
	</tbody>
</table>