@using VocaDb.Web.Helpers;
@using VocaDb.Web.Models.Shared.Partials.Song;
@model SongIconLinkViewModel

<a href="@Url.SongDetails(Model.Song)">
	<img src="@VocaDb.Model.Service.Helpers.UrlHelper.UpgradeToHttps(Model.Song.ThumbUrl)" alt="Cover" class="coverPicThumb" referrerpolicy="same-origin" />
</a>
