@using VocaDb.Web.Models.Shared.Partials.Shared
@model NotificationPanelViewModel

<div class="alert">
	<partial name="Partials/Shared/_NotificationIcon" />
	<span id="@Model.MessageId">@Model.Message</span>
</div>