@using VocaDb.Web.Models.Shared.Partials.Shared
@model SaveAndBackBtnViewModel

<p>
	<button type="submit" class="btn btn-primary" data-bind="disable: submitting">
		<i class="icon-ok icon-white"></i>
		&nbsp;@HelperRes.HelperStrings.SaveChanges
	</button>
	<a class="btn btn-nomargin" href="@Model.BackAction">
		<i class="icon-backward"></i>
		&nbsp;@HelperRes.HelperStrings.ReturnWithoutSaving
	</a>
</p>