@using VocaDb.Web.Helpers
@using VocaDb.Web.Models.Shared.Partials.Shared
@model StarsMetaSpanViewModel

<span title="@NumberFormatHelper.DecimalDot(Math.Round(Model.Current, 2))">
	<partial name="Partials/Shared/_StarsMeta" model="@(new StarsMetaViewModel((int)Math.Round(Model.Current, MidpointRounding.AwayFromZero), Model.Max))" />
</span>