body {
  color: #96dcdc;
  background: url(https://static.vocadb.net/img/darkangel.png) top center no-repeat fixed;
  background-color: black;
}
.rightFrame {
  background-color: #003232;
  background-color: rgba(0, 50, 50, 0.85);
  border: solid #009696 2px;
}
.rightFrame a {
  color: #64b4fa;
}
.rightFrame a:visited {
  color: #50a0dc;
}
.well-transparent {
  background-color: #003232;
  background-color: rgba(0, 50, 50, 0.85);
  border: solid #009696 2px;
}
.rightFrame .ui-widget-content {
  color: #96dcdc;
  background: #003232;
}
.rightFrame a.btn {
  color: black;
}
.rightFrame a.btn.btn-inverse,
.rightFrame a.btn.btn-info {
  color: white;
}
.rightFrame td {
  color: #96dcdc;
}
.rightFrame .ui-widget-header a,
.rightFrame .ui-widget-content a,
.ui-dialog.ui-widget-content a {
  color: #64b4fa !important;
}
.rightFrame .ui-widget-header a:hover,
.rightFrame .ui-widget-content a:hover,
.ui-dialog.ui-widget-content a:hover {
  color: #0065B2 !important;
}
span.extraInfo,
small.extraInfo {
  color: #79AFAF;
}
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: rgba(0, 50, 50, 0.85);
}
.pagination ul > li > a,
.pagination ul > li > span {
  background-color: rgba(0, 50, 50, 0.85);
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #96dcdc;
  color: black;
}
.menu > .well {
  background-color: #003232;
  background-color: rgba(0, 50, 50, 0.85);
  border: solid #009696 2px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: rgba(0, 70, 70, 0.85);
}
.menu a {
  color: #64b4fa;
}
.menu a:visited {
  color: #50a0dc;
}
.nav-list > li > a,
.nav-list .nav-header {
  text-shadow: none;
}