@import "variables";

// qTip
.qtip {
	&.tooltip-wide {
		min-width: 220px;
	}

	&.tooltip-wider {
		min-width: 400px;
		max-width: 400px;
	}
}

.vdb .qtip-default {
	background-color: #FFFFCC;
}
