@{
	ViewBag.Title = "Error";
	Layout = "_Layout.cshtml";
}

<div class="container">
	<h2>
		Sorry, an unhandled error occurred :(
	</h2>
	
	<img src="http://static.vocadb.net/img/844a799896b0ffe44129bf92d2fa55a5.jpg" alt="ERROR, image by つむつむ" title="ERROR, image by つむつむ" />

	@if (Server.GetLastError() != null) {
		var ex = Server.GetLastError();

		if (ex is HttpRequestValidationException || ex.GetBaseException() is HttpRequestValidationException) {
			<p>
				For some reason your input triggered a HTTP request validation exception.
				If you think this is an error, please contant the admin.
			</p>
		}
	}

	<h3>Possible reasons include</h3>
	<ul>
		<li>You followed an invalid link.</li>
		<li>The site is temporarily down because it is being updated. Check back in a few minutes.</li>
		<li>You entered (possibly accidentally) characters that were automatically detected as HTML and thus were blocked.</li>
		<li>You have encountered a programming error (bug). If you suspect this is the case, please inform us about it. Please see @Html.ActionLink("Help/Contact us", "Index", "Help") for contact information.</li>
	</ul>

	<p>
		@Html.ActionLink("Return to the front page", "Index", "Home")
	</p>
</div>

<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
