@{
	ViewBag.Title = "404 - Not found";
	ViewBag.Subtitle = "Sorry, the page/resource you were looking for was not found";
}

<iframe width="560" height="315" src="http://www.youtube.com/embed/z4D6bwsU6CA" frameborder="0" wmode="Opaque" allowfullscreen></iframe>
<br /><br />

<p>
	<a asp-action="Details" asp-controller="Song" asp-route-id="@(18486)">@("Video entry")</a><br />
</p>
