@{
	ViewBag.Title = "404 - Not found";
	ViewBag.Subtitle = "Sorry, the page/resource you were looking for was not found";
}

<br /><br />

<p>
	<a asp-action="Details" asp-controller="Song" asp-route-id="@(18486)">@("Video entry")</a><br />
</p>
