@using VocaDb.Model.DataContracts.PVs
@using VocaDb.Model.Service.VideoServices
@inherits VocaDb.Web.Code.HelperPage

@helper EmbedBili(PVContract pv, int width, int height) {
	var meta = pv.ExtendedMetadata != null ? pv.ExtendedMetadata.GetExtendedMetadata<BiliMetadata>() : null;
		var widthStr = (width > 0 ? width.ToString() : "");
	if (height >= 274 && width >= 480) {
		var unmaskedHeight = height + 67;
		var unmaskedHeightStr = (height > 0 ? unmaskedHeight.ToString() : "");
		<div style="overflow:hidden; width:max-content; height:max-content"><iframe src="https://player.bilibili.com/player.html?aid=@pv.PVId&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" width="@widthStr" height="@unmaskedHeightStr" style="margin-bottom:-38px; width:@(widthStr)px; height:@(unmaskedHeightStr)px"></iframe></div>
	} else {
		var heightStr = (width > 0 ? width.ToString() : "");
		<iframe src="https://player.bilibili.com/player.html?aid=@pv.PVId&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" width="@widthStr" height="@heightStr"></iframe>
	}
}
