body {
	font-size: 80%;
	font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
	background: url(//static.vocadb.net/img/miku3.jpg) top left no-repeat fixed #001155;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

header, footer, nav, section {
	display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset {
	border: 1px solid #ddd;
	padding: 0 1.4em 1.4em 1.4em;
	margin: 0 0 1.5em 0;
}

legend {
	font-size: 1.2em;
	font-weight: bold;
}

.editor-label {
	margin: 1em 0 0 0;
}

.editor-field {
	margin: 0.5em 0 0 0;
}

.required-field {
	color: red;
}

/* Custom styles */
span.extraInfo, small.extraInfo {
	color: #222222;
	font-size: small;
}

.slogan {
	font-size: x-small;
	margin-bottom: 0;
	text-align: right;
}

.user-avatar {
	text-decoration: none;
	display: inline-block;
	width: 120px;
	height: 120px;
}

td {
	padding: 5px;
}

.comment-large {
	margin-bottom: 20px;
}

.comment-large-header {
	border-bottom: 1px solid lightgray;
}

/* Thumbnails */

img.coverPic {
	max-width: 250px;
	max-height: 250px;
}

img.smallCover {
	max-width: 150px;
	max-height: 150px;
}

ul.smallThumbs div.pictureFrame img.coverPic {
	max-width: 150px;
	max-height: 150px;
}

a.coverPic {
	width: 250px;
	height: 250px;	
	display: block;
}

img.coverPicIcon {
	max-width: 35px;
	max-height: 35px;
}

img.coverPicThumb {
	max-width: 70px;
	max-height: 70px;
}

div.songListItem img.coverPicThumb {
	max-height: 60px;
}

a.coverPicThumb {
	width: 70px;
	height: 70px;	
	display: block;
}

div.thumbnail {
	float: left;
	margin-right: 5px;
	border: none;
}

div.thumbItem {
	width: 250px;
	height: 250px;	
}

ul.thumbs, ul.smallThumbs {
	list-style: none;	
	display: block;
	overflow: hidden;
	font-size: 11px;
	line-height: 1.181818em;
	margin-left: 0;
}

ul.thumbs li {
	position: relative;
	float: left;
	display: inline;
	width: 255px;
	height: 300px;
	margin: 0 9px 0 0;
	overflow: hidden;	
}

ul.thumbs div.pictureFrame {
	position: relative;
	display: block;
	width: 250px;
	height: 250px;
	overflow: hidden;
	cursor: pointer;
	border: 1px solid lightgray;	
}

ul.thumbs div.pictureFrame.img-rounded {
	border-radius: 6px;
}

ul.smallThumbs li {
	position: relative;
	float: left;
	display: inline;
	width: 155px;
	height: 190px;
	margin: 0 9px 0 0;
	overflow: hidden;	
}

@media (max-width: 768px) {
	ul.smallThumbs li {
		margin-right: 5px;
	}
}

ul.smallThumbs div.pictureFrame {
	position: relative;
	display: block;
	width: 150px;
	height: 150px;
	overflow: hidden;
	cursor: pointer;
	border: 1px solid lightgray;	
}

/* Layout */

table.properties tr, .rightFrame, .recentAlbums, .recentSongs, .alignTop {
	vertical-align: top;
}

.rightFrame {
	/*background-color: #E8FAFF;
	opacity: 0.95;*/
	background-color: rgb(232, 250, 255);
	background-color: rgba(232, 250, 255, 0.90);
	border: solid #B1DDE1 2px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

.rightFrame td {
	/*font-weight: bold;*/
	color: #000000;
}

.rightFrame a {
	color: #003399;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

.rightFrame a.btn-nomargin {
	margin-bottom: 0;
}

.rightFrame a:visited {
	color: #001155;
}

.rightFrame a:hover {
	color: #0065B2;	
}

body .rightFrame a.btn-danger, 
body .rightFrame a.btn-danger:visited, 
body .rightFrame a.btn-danger:hover {
	color: white;
}

.rightFrame li {
	margin-bottom: 2px;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}

.rightFrame .tracklist-track {
	margin-bottom: 5px;
}

.tracklist-trackNumber {
	min-width: 18px;
	margin-right: 5px;
	text-align: right;
}

.tracklist-trackTitle, .tracklist-trackNumber {
	display: inline-block;
	vertical-align: top;
}

/* Menu */
.site-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.menu > .well {
	vertical-align: top;	
	border: solid #8AD7D8 2px;
	background-color: rgb(215, 236, 244);
	background-color: rgba(215, 236, 244, 0.90);	
}

ul {
	list-style: url(star5.png);
}

.tracklist ul {
	list-style: none;
}

.menu ul {
	list-style: none;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

.menu li {
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
}

.menu a {
	text-decoration: none;
	color: #21758a;
}

.menu a:hover, .menu a:hover:visited {
	color: #2F8897;
	text-decoration: underline;
}

.menu a:visited {
	color: #1C5D74;
}

#appLinks img {
	margin-bottom: 8px;
}

#socialSites {
	margin-left: 15px;
}

#socialSites img {
	margin-right: 3px;
	margin-bottom: 8px;
}

#banners {
	margin-left: 10px;
}

#banners img {
	margin-bottom: 5px;
}

#banners-small {
	margin-left: 8px;
}

#banners-small div {
	vertical-align: top;
	display: inline-block;
	padding-top: 0;
}

#banners-small img {
	float: left;
	margin-right: 3px;
	margin-bottom: 3px;
}

.user a {
	text-decoration: none;
	color: #003366;
	border-bottom-color: #333333;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
}

.user a:hover {
	text-decoration: none;
	border-bottom-color: #333333;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.user a:visited {
	color: #003366;
}

.recentAlbums a {
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 1px;
}

span.tag {
	padding: 6px;
	display: inline-block;
}

.about-disclaimer {
	font-size: 0.7rem;
	margin: 5px;
	float: right;
}

.about-disclaimer a {
	color: #99A9F0;
	text-decoration: none;
}

.about-disclaimer a:link {
	color: #99A9F0;
	text-decoration: none;
}

.about-disclaimer a:hover {
	color: #99A9F0;
	text-decoration: none;
}

.about-disclaimer a:visited {
	color: #99A9F0;
	text-decoration: none;
}

.aboutvocaloid-ytiframe {
	margin-left: 15px;
	margin-bottom: 15px;
}

.incorrect-example-input {
	border-color: #FFADAD;
	color: #FF6161;
	margin-right: 7px;
	margin-bottom: 5px;
}

div.message, div.activityEntry, div.newsEntry {
	margin-top: 5px;
	margin-bottom: 5px;
}

div#viewMessage {
	min-height: 200px;
}

div.activityEntry {
	min-height: 30px;
	padding: 6px;
}

div.messageTitleText, p.messageContent {
	margin: 5px;
}

p.messageContent {
	margin: 10px;
}

div.panel {
	padding: .7em;
	margin: .5em;
}

.formLabel {
	vertical-align: top;
	padding-top: 10px;	
}

.pvPreview {
	margin-top: 5px;
}

/* Artist selection for track properties */
.label-artistSelection {
	font-size: inherit;
	font-weight: normal;
	background-color: #3a87ad;
	padding: 6px;
	margin-top: 2px;
	margin-bottom: 2px;
	line-height: 18px;
	cursor: pointer;
}

.label-artistSelection .close {
	margin-left: 4px;
	line-height: 18px;
}

.label-artistSelection:hover {
	background-color: #7095A5;
}

/* Links */
/* Link with text prefixed by icon */
.textLink {
	display: -moz-inline-box;
	display: inline-block;
	height: 16px;
	padding: 4px 4px 4px 24px;
	margin: 0 10px 0 0;
	background-position: 4px 4px;
	background-repeat: no-repeat;
	font-weight: bold;
	white-space: nowrap;
}

.textLink:hover {
	padding: 3px 3px 3px 23px;
	background-position: 3px 3px;
	text-decoration: none;
	border-width: 1px;
	border-style: solid;
}

.textLink:hover, .iconLink:hover {
	border-color: #ddd; 
	border-right-color: #aaa; 
	border-bottom-color: #aaa;
}

input + .textLink {
	margin-left: 3px;
}

/* Link that appears only as icon */
.iconLink {
	float: left;
	width: 24px;
	height: 24px;
	background-position: 4px 4px;
	background-repeat: no-repeat;
	text-indent: -10000px;
	overflow: hidden;
	padding: 0;
}

.iconLink {
	cursor: pointer;
}

.iconLink:hover {
	left: -1px;
	top: -1px;
	width: 22px;
	height: 22px;
	background-position: 3px 3px;
	border-width: 1px;
	border-style: solid;
}

.showInfoLink {
	cursor: help;
}

div.activityEntry p {
	margin: 4px;	
}

div.disabled > a, div.disabled > a:visited {
	color: gray;
}

.rightFrame .muted, .rightFrame a.muted, .rightFrame a.muted:visited {
	color: gray;
}

/* Lists */
div.albumListItem {
	display: block;
	min-height: 85px;
}

div.songListItem {
	display: block;
	min-height: 70px;
}


/* Messages */
#messages .wrapper {
  z-index: 2000;
  position: absolute;
  left: 50%;
}

#messages.fixed .wrapper {
  position: fixed;
  top: 50px;
}

#messages .alert {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: none;
  float: left;
  clear: left;
  position: relative;
  width: 320px;
  left: -50%;
  border: 0;
}

#messages #ajaxLoadingMessage {
  display: none;
  background: #fff9af;
  position: absolute;
  padding: 5px;
  width: 100px;
  left: -55px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

table.messages tbody tr {
	cursor: pointer;
}


div.item {
	padding:7px;
	overflow: hidden;
}

.news-title-author {
	white-space: nowrap;
}

.entry-validation-list {
	margin-top: 5px;
}

/* Label or span with a helpful tooltip */
.helpTip {
	border-bottom: 1px dashed;
	display: inline-block;
	margin-bottom: 0;
	cursor: help;
	background: url("Icons/help.png") no-repeat right;
	padding: 0 20px 0 0;
	min-height: 16px;
}

/*.helpTip:after {
	content: " [?]";
}*/

/* Top bar */
.media-image-usermessage {
	width: 40px;
	height: 40px;
}

.media-body-usermessage {
	margin-left: 50px;
}

.well-transparent {
	background-color: white;
	background-color: rgba(255, 255, 255, 0.60);
}

/* Archived entry contents */
.archived-entry-contents {
	overflow-x: auto;
}

.sortDirection_down {
	border-top: 4px solid #000000;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	vertical-align: middle;
	display: inline-block;
}

.loading {
	opacity: 0.4;
	pointer-events: none;
	background: center no-repeat url(/Content/ajax-loader.gif)
}

.inline-block {
	display: inline-block;
}

.entry-validation-error-summary {
	-moz-text-overflow: ellipsis;
	text-overflow: ellipsis; 
	white-space: nowrap; 
	overflow: hidden;
}

.pv-preview-services {
	padding-top: 10px;
	clear: right;
	float: right;
}

/* Move sort button right for lower screen resolutions */
@media all and (max-width: 1800px) {
	.search-sort-menu {
		margin-right: 40px;
	}
}
