@model VocaDb.Model.DataContracts.Users.UserContract

@{
    PageProperties.Title = "Stats for " + Model.Name;
}

<div id="chartContainer"></div>

@section BodyScripts {
	<script src="https://code.highcharts.com/highcharts.js" type="text/javascript"></script>

	<script type="text/javascript">

		$(function () {

			var type = '@ViewBag.StatType';
			var userId = @Model.Id;

			$.getJSON("/User/Stats_" + type + "/" + userId, function (data) {

				$('#chartContainer').highcharts(data);

			});

		});

	</script>

}


