@using VocaDb.Web.Helpers

<div data-bind="with: selectedTopic()">
	
	<div class="well well-transparent">
		<h3 data-bind="text: contract.name"></h3>
		
		<div data-bind="with: contract">
			@CommentHelpers.CommentBodyKnockout("content", true)			
		</div>
		
	</div>
		
	@if (Login.CanManageDb) {
		<div class="well well-transparent">
			<form data-bind="submit: createComment">
				<textarea data-bind="textInput: newComment" rows="6" cols="60" maxlength="800" class="span5" placeholder="@ViewRes.DiscussionContentStrings.NewComment" required></textarea>
				<button type="submit" class="btn btn-primary">@ViewRes.DiscussionContentStrings.AddComment</button>
			</form>				
		</div>
	}
		
	<div data-bind="foreach: comments">
		<div class="well well-transparent">
			@CommentHelpers.CommentBodyKnockout("message", false)			
		</div>
	</div>

</div>
