@using VocaDb.Web.Models.Shared.Partials.Knockout
@using VocaDb.Web.Models.Shared.Partials.Song
@model ArtistFiltersViewModel

<!-- Viewmodel: ArtistFilters -->
<!-- ko foreach: artists -->
<div class="control-group">
	<div style="display: inline-block;" class="input-append input-prepend">
		<a href="#" class="btn btn-nomargin" data-bind="attr: { href: '/Ar/' + id }">
			<i class="icon icon-info-sign"></i>
		</a>
		<div class="input-append">
			<input type="text" class="input-large" readonly data-bind="value: name" />
			<button type="button" class="btn btn-danger" data-bind="click: function() { $parent.artists.remove($data); }">Clear</button>
		</div>
	</div>
	@if (Model.ArtistParticipationStatus)
	{
		<!-- ko if: $parent.hasSingleArtist -->
		@Html.Partial("Partials/Song/_ArtistParticipationStatusOptionsKnockout", new ArtistParticipationStatusOptionsKnockoutViewModel("$parent.artistParticipationStatus"))
		<!-- /ko -->
	}
</div>
<!-- /ko -->

<div class="control-group" data-bind="visible: showChildVoicebanks">
	<label class="checkbox">
		<input type="checkbox" data-bind="checked: childVoicebanks" />
		@ViewRes.Search.IndexStrings.IncludeDerivedVoicebanks
	</label>
</div>

<div class="control-group" data-bind="visible: showMembers">
	<label class="checkbox">
		<input type="checkbox" data-bind="checked: includeMembers" />
		@ViewRes.Search.IndexStrings.IncludeGroupMembers
	</label>
</div>

<div>
	<input type="text" class="input-large" data-bind="artistAutoComplete: artistSearchParams" placeholder="@ViewRes.SharedStrings.Search" />
</div>