<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>

	<appSettings>
		<add key="outFolder" value="C:\Dev\" />
		<add key="siteRootUrl" value="http://localhost:39390/" />
		<add key="sitemapRootUrl" value="http://localhost:39390/sitemap" />
	</appSettings>
	
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target xsi:type="Console" name="console" layout="${time} [${threadname}] ${uppercase:${level}} ${message} ${onexception:inner=- ${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />

		</targets>

		<rules>
			<logger name="*" minlevel="Info" writeTo="Console" />
		</rules>
	</nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
